@keyframes header-slide-in {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
  }
  75% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  }
}

@keyframes icon-slide-in {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(80%);
  }
  100% {
    transform: translateY(0%);
  }
}