.container  > .lateral-view {
  padding: 0;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.lateral-view {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 32px;
  
  .lateral-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      max-width: 350px;
    }
  } 
  
  &.alt {
    flex-direction: row-reverse;
    
    .lateral-primary {
      padding-right: 32px;
    }
  }
  
  &:not(.alt) .lateral-primary {
    padding-left: 32px;
  }
  
  .lateral-primary {
    flex: 1;
  }

  @media screen and (max-width: 780px) {
    &,
    &.alt {
      flex-direction: column;
    }

    &.alt .lateral-primary {
      padding-right: 0;
    }
    
    &:not(.alt) .lateral-primary {
      padding-left: 0;
    }
  }
}
