h1.section-title {
  @extend .container;
  
  margin-top: 1em;
  background-color: transparent;
  font-size: 3em;
}

div.section-title {
  @extend .container;
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-top: 1em;

  h1 {
    font-size: 3em;
    flex: 1;
  }

  .button,
  button {
    margin-bottom: -16px;
  }
}