.work-page {
  .lateral-view {
    align-items: flex-start;

    .lateral-secondary {
      width: 300px;

      img {
        max-width: 250px;
      }
    }
  }

  li {
    margin-top: 0.25em;
  } 

  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  h3 {
    margin-top: 0;
    font-size: 1em;
    font-weight: normal;
  }
}