.work-experience-container {
  @extend .container;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
  padding: 0;

  @media screen and (max-width: 780px) {
    flex-direction: column;
  }

  .work-experience-item {
    @extend .container;
    margin-left: 0;
    margin-right: 0;
    background-color: white;
    flex: 0 0 calc(50% - 16px);

    img {
      max-width: 200px;
      margin-bottom: 32px;
    }

    img,
    button {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0;
    }

    h3 {
      margin-top: 0;
      font-size: 1em;
      font-weight: normal;
    }

    ul {
      transition: 250ms max-height;
    }

    &.minimized ul {
      max-height: 0;
      overflow: hidden;
    }

    &:not(.minimized) ul {
      max-height: 999px;
    }
  }
}