<footer>
  <div class="container">
    {% call macros.generateHeader('Andrey Butenko', '', '', true) %}
      <p>
        I am a front-end developer studying Informatics at the University of Washington. I am skilled in developing web apps with Vue and mobile apps with React Native.
      </p>
      <p>
        Contact: <a href="mailto:andrey@andreybutenko.com">andrey@andreybutenko.com</a>
      </p>
      <h3>Social Media</h3>
      <ul>
        {%- for platform in socialMedia  %}
          <li><a href="{{ platform.url }}" target="_blank">{{ platform.label }}</a></li>
        {%- endfor %}
      </ul>
      ----
      <img src="/assets/andreyys-dance-lowres.png" alt="Icon of Andrey" />
    {% endcall %}
  <!--

    <div class="column">
      <img src="/assets/andreyys-lowres.png" alt="Icon of Andrey" />
    </div>
    <div class="column">
      <h3>Andrey Butenko</h3>
      <p>
        Contact: <a href="mailto:andrey@andreybutenko.com">andrey@andreybutenko.com</a>
      </p>
      <p>
        I am a front-end developer studying Informatics at the University of Washington. I am skilled in developing web apps with Vue and mobile apps with React Native.
      </p>
    </div>
    <div class="column">
      <h3>Social Media</h3>
      <ul>
        {%- for platform in socialMedia  %}
          <li><a href="{{ platform.url }}" target="_blank">{{ platform.label }}</a></li>
        {%- endfor %}
      </ul>
    </div>
    -->
  </div>
</footer>