{%- for work in collections.work  %}
  <div class="work-experience-item">
    <img src="/assets/work/{{ work.data.image }}" alt="{{ work.data.company }} logo" />
    <h2>{{ work.data.role }}</h2>
    <h3>{{ work.data.company }}, {{ work.data.timeframe }}</h3>
    {{ work.templateContent | safe }}
    <button class="primary-ghost">More information</button>
  </div>
{%- endfor %}