{% extends 'layouts/base.njk' %}

{% import 'partials/macros.njk' as macros %}

{% block content %}
  <div id="preload-container" style="display: none;"></div>
  {% call macros.generateHeader(pageTitle, 'header-dance dance-not-started dance-loading', 'container alt') %}
    <p>
      I am a dedicated and ambitious Informatics student at the University of Washington. I am a skilled front-end web developer.
    </p>
    <p>
      Beyond code, I value understanding user needs and strive to create compelling and useful user experiences. I also love to teach and work with people!
    </p>
    ----
    <img src="/assets/andreyys-lowres.png" alt="Icon of Andrey" />
  {% endcall %}

  {# {% call macros.generateAnnouncement() %}
    <p>
      <b>I am looking for front-end development and technical project management internships for Summer 2020.</b>
    </p>
    <p>
      My previous experiences are in front-end web and mobile development at fast-paced Seattle startups. I am based in Seattle but I am open to working anywhere.
    </p>
    <p>
      Take a look at <a href="#projects">my projects</a> and <a href="#work">my work experience</a> and feel free to get in touch: <a href="mailto:andrey@andreybutenko.com">andrey@andreybutenko.com</a>
    </p>
  {% endcall %} #}

  <div class="section-title">
    <a name="work"></a>
    <h1>Work Experience</h1>
    <a href="/work" class="button primary">See all experience</a>
  </div>

  <div class="work-experience-container">
    {% include 'partials/components/work-listing.njk' %}
  </div>

  <a name="projects"></a>
  <h1 class="section-title">My Projects</h1>

  <div class="container">
    {% include 'partials/components/project-listing.njk' %}
  </div>

  <script>
    // ### homepage animation ###
    const DEFAULT_IMG = '/assets/andreyys-lowres.png';
    const DANCE_IMG = '/assets/andreyys-dance-lowres.png';
    const MOBILE_BREAK = 780;
    const MOBILE_CONTAINER = 'header.header-dance';
    const DESKTOP_CONTAINER = 'header.header-dance .lateral-secondary';

    function onLoadAnimation() {
      loadImages([DEFAULT_IMG, DANCE_IMG], startAnimation);
      setupAnimationListeners();
    }

    function getContainer() {
      if(window.innerWidth <= MOBILE_BREAK) {
        return document.querySelector(MOBILE_CONTAINER);
      }
      return document.querySelector(DESKTOP_CONTAINER);
    }

    // preload images into DOM. preloading just using JS Image object gets garbage collected
    function loadImages(images, callback) {
      const preloadContainer = document.getElementById('preload-container');
      let remaining = images.length;

      const piecewiseCallback = () => {
        remaining--;
        if(remaining <= 0) {
          callback();
        }
      }

      for(let i = 0; i < images.length; i++) {
        const imgElement = document.createElement('img');
        preloadContainer.appendChild(imgElement);
        imgElement.src = images[i];
        imgElement.onload = piecewiseCallback;
      }
    }

    function startAnimation() {
      document.querySelector('header.header-dance img').src = DANCE_IMG;
      document.querySelector('.header-dance').classList.remove('dance-loading');
      setTimeout(() => document.querySelector('header.header-dance img').src = DEFAULT_IMG, 1000);
    }

    function setupAnimationListeners() {
      const imageElement = document.querySelector('header.header-dance img');

      imageElement.addEventListener('mouseenter', () => {
        document.querySelector('header.header-dance').classList.remove('dance-not-started');
        document.querySelector('header.header-dance').classList.add('dance-started');
        document.querySelector('header.header-dance img').src = DANCE_IMG;
        
        const container = getContainer();
        for(let i = 0; i < 50; i++) {
          const confetti = document.createElement('div');
          confetti.classList.add('confetti', `confetti-${i}`);
          container.appendChild(confetti);
        }
      });
      
      imageElement.addEventListener('mouseleave', () => {
        const container = getContainer();
        document.querySelector('header.header-dance img').src = DEFAULT_IMG;
        document.querySelector('header.header-dance').classList.remove('dance-started')
        document.querySelectorAll('.confetti').forEach(ele => container.removeChild(ele));
      });
    }

    // ### homepage work experience ###

    const EXPAND_TEXT = 'More information';
    const MINIMIZE_TEXT = 'Minimize information';

    function onLoadWorkExperience() {
      const items = document.querySelectorAll('.work-experience-item');
      const buttons = document.querySelectorAll('.work-experience-item button');

      for(let i = 0; i < items.length; i++) {
        items[i].classList.add('minimized');
      }

      for(let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', e => {
          e.target.parentElement.classList.toggle('minimized');
          e.target.innerText = e.target.innerText == EXPAND_TEXT ? MINIMIZE_TEXT : EXPAND_TEXT;
        });
      }
    }

    window.addEventListener('load', () => {
      onLoadAnimation();
      onLoadWorkExperience();
    });
  </script>
{% endblock %}