{% extends 'layouts/base.njk' %}

{% import 'partials/macros.njk' as macros %}

{% block content %}
  {% call macros.generateHeader(pageTitle, 'header-clipped', 'container alt') %}
    <h3 class="no-margin-top">{{ timeframe }}</h3>
    <ul class="links-collection">
      {% for link in links %}
        <li>{% projectLink link %}</li>
      {% endfor %}
    </ul>
    ----
    <img data-src="/assets/work/{{ image }}" class="lazyload" alt="{{ title }} icon" />
  {% endcall %}

  <div class="container">
    {{ content | safe }}
  </div>

  <a href="/work" class="button container primary big text-center">See more of my work experience</a>
{% endblock %}