@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:700&display=swap");
@-webkit-keyframes party-colors {
  0% {
    background-color: white; }
  10% {
    background-color: #ff240088; }
  20% {
    background-color: #e81d1d88; }
  30% {
    background-color: #e8b71d88; }
  40% {
    background-color: #e3e81d88; }
  50% {
    background-color: #1de84088; }
  60% {
    background-color: #1ddde888; }
  70% {
    background-color: #dd00f388; }
  80% {
    background-color: #dd00f388; }
  100% {
    background-color: #ff240088; } }
@keyframes party-colors {
  0% {
    background-color: white; }
  10% {
    background-color: #ff240088; }
  20% {
    background-color: #e81d1d88; }
  30% {
    background-color: #e8b71d88; }
  40% {
    background-color: #e3e81d88; }
  50% {
    background-color: #1de84088; }
  60% {
    background-color: #1ddde888; }
  70% {
    background-color: #dd00f388; }
  80% {
    background-color: #dd00f388; }
  100% {
    background-color: #ff240088; } }

@media screen and (max-width: 780px) {
  @-webkit-keyframes andrey-dance {
    0% {
      transform: translateY(0px); }
    25% {
      transform: rotate(-15deg) translateX(-40px) translateY(-20px); }
    50% {
      transform: translateY(0px); }
    75% {
      transform: rotate(15deg) translateX(40px) translateY(-20px); }
    100% {
      transform: translateY(0px); } }
  @keyframes andrey-dance {
    0% {
      transform: translateY(0px); }
    25% {
      transform: rotate(-15deg) translateX(-40px) translateY(-20px); }
    50% {
      transform: translateY(0px); }
    75% {
      transform: rotate(15deg) translateX(40px) translateY(-20px); }
    100% {
      transform: translateY(0px); } } }

@media screen and (min-width: 781px) {
  @-webkit-keyframes andrey-dance {
    0% {
      transform: translateY(20px); }
    25% {
      transform: rotate(-15deg) translateX(-40px); }
    50% {
      transform: translateY(20px); }
    75% {
      transform: rotate(15deg) translateX(40px); }
    100% {
      transform: translateY(20px); } }
  @keyframes andrey-dance {
    0% {
      transform: translateY(20px); }
    25% {
      transform: rotate(-15deg) translateX(-40px); }
    50% {
      transform: translateY(20px); }
    75% {
      transform: rotate(15deg) translateX(40px); }
    100% {
      transform: translateY(20px); } } }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #dfe6e9;
  font-size: 21px;
  padding: 0;
  margin: 0; }

p {
  line-height: 1.6em;
  margin-top: 1em; }
  p:first-of-type {
    margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  margin-bottom: 1rem; }

hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to left, transparent, #8c8b8b, transparent); }

.announcement p:last-of-type {
  margin-bottom: 0; }

.confetti-0 {
  position: absolute;
  top: -64px;
  left: 108%;
  background-color: #9b59b6;
  width: 4.5px;
  height: 9px;
  transform: rotation(170deg);
  -webkit-animation-name: confetti-animation-0;
          animation-name: confetti-animation-0;
  -webkit-animation-duration: 2.206s;
          animation-duration: 2.206s;
  -webkit-animation-delay: 0.32027s;
          animation-delay: 0.32027s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-0 {
  to {
    top: calc(100% + 64px);
    left: 93%;
    transform: rotation(454deg); } }

@keyframes confetti-animation-0 {
  to {
    top: calc(100% + 64px);
    left: 93%;
    transform: rotation(454deg); } }

.confetti-1 {
  position: absolute;
  top: -64px;
  left: 62%;
  background-color: #3498db;
  width: 5px;
  height: 10px;
  transform: rotation(323deg);
  -webkit-animation-name: confetti-animation-1;
          animation-name: confetti-animation-1;
  -webkit-animation-duration: 1.15591s;
          animation-duration: 1.15591s;
  -webkit-animation-delay: 0.80867s;
          animation-delay: 0.80867s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-1 {
  to {
    top: calc(100% + 64px);
    left: 104%;
    transform: rotation(188deg); } }

@keyframes confetti-animation-1 {
  to {
    top: calc(100% + 64px);
    left: 104%;
    transform: rotation(188deg); } }

.confetti-2 {
  position: absolute;
  top: -64px;
  left: 103%;
  background-color: #3498db;
  width: 4.5px;
  height: 9px;
  transform: rotation(719deg);
  -webkit-animation-name: confetti-animation-2;
          animation-name: confetti-animation-2;
  -webkit-animation-duration: 1.76873s;
          animation-duration: 1.76873s;
  -webkit-animation-delay: 0.573s;
          animation-delay: 0.573s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-2 {
  to {
    top: calc(100% + 64px);
    left: 45%;
    transform: rotation(637deg); } }

@keyframes confetti-animation-2 {
  to {
    top: calc(100% + 64px);
    left: 45%;
    transform: rotation(637deg); } }

.confetti-3 {
  position: absolute;
  top: -64px;
  left: 38%;
  background-color: #f1c40f;
  width: 3.5px;
  height: 7px;
  transform: rotation(118deg);
  -webkit-animation-name: confetti-animation-3;
          animation-name: confetti-animation-3;
  -webkit-animation-duration: 1.02692s;
          animation-duration: 1.02692s;
  -webkit-animation-delay: 0.76167s;
          animation-delay: 0.76167s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-3 {
  to {
    top: calc(100% + 64px);
    left: 26%;
    transform: rotation(700deg); } }

@keyframes confetti-animation-3 {
  to {
    top: calc(100% + 64px);
    left: 26%;
    transform: rotation(700deg); } }

.confetti-4 {
  position: absolute;
  top: -64px;
  left: -3%;
  background-color: #9b59b6;
  width: 3px;
  height: 6px;
  transform: rotation(427deg);
  -webkit-animation-name: confetti-animation-4;
          animation-name: confetti-animation-4;
  -webkit-animation-duration: 1.60809s;
          animation-duration: 1.60809s;
  -webkit-animation-delay: 0.33955s;
          animation-delay: 0.33955s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-4 {
  to {
    top: calc(100% + 64px);
    left: 105%;
    transform: rotation(74deg); } }

@keyframes confetti-animation-4 {
  to {
    top: calc(100% + 64px);
    left: 105%;
    transform: rotation(74deg); } }

.confetti-5 {
  position: absolute;
  top: -64px;
  left: -12%;
  background-color: #f1c40f;
  width: 3px;
  height: 6px;
  transform: rotation(44deg);
  -webkit-animation-name: confetti-animation-5;
          animation-name: confetti-animation-5;
  -webkit-animation-duration: 1.82438s;
          animation-duration: 1.82438s;
  -webkit-animation-delay: 1.35323s;
          animation-delay: 1.35323s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-5 {
  to {
    top: calc(100% + 64px);
    left: 97%;
    transform: rotation(301deg); } }

@keyframes confetti-animation-5 {
  to {
    top: calc(100% + 64px);
    left: 97%;
    transform: rotation(301deg); } }

.confetti-6 {
  position: absolute;
  top: -64px;
  left: -15%;
  background-color: #9b59b6;
  width: 4.5px;
  height: 9px;
  transform: rotation(705deg);
  -webkit-animation-name: confetti-animation-6;
          animation-name: confetti-animation-6;
  -webkit-animation-duration: 2.5055s;
          animation-duration: 2.5055s;
  -webkit-animation-delay: 0.22333s;
          animation-delay: 0.22333s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-6 {
  to {
    top: calc(100% + 64px);
    left: 8%;
    transform: rotation(189deg); } }

@keyframes confetti-animation-6 {
  to {
    top: calc(100% + 64px);
    left: 8%;
    transform: rotation(189deg); } }

.confetti-7 {
  position: absolute;
  top: -64px;
  left: 2%;
  background-color: #f1c40f;
  width: 5px;
  height: 10px;
  transform: rotation(459deg);
  -webkit-animation-name: confetti-animation-7;
          animation-name: confetti-animation-7;
  -webkit-animation-duration: 2.44825s;
          animation-duration: 2.44825s;
  -webkit-animation-delay: 1.34469s;
          animation-delay: 1.34469s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-7 {
  to {
    top: calc(100% + 64px);
    left: 36%;
    transform: rotation(323deg); } }

@keyframes confetti-animation-7 {
  to {
    top: calc(100% + 64px);
    left: 36%;
    transform: rotation(323deg); } }

.confetti-8 {
  position: absolute;
  top: -64px;
  left: -15%;
  background-color: #9b59b6;
  width: 3.5px;
  height: 7px;
  transform: rotation(337deg);
  -webkit-animation-name: confetti-animation-8;
          animation-name: confetti-animation-8;
  -webkit-animation-duration: 1.61139s;
          animation-duration: 1.61139s;
  -webkit-animation-delay: 0.26758s;
          animation-delay: 0.26758s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-8 {
  to {
    top: calc(100% + 64px);
    left: 118%;
    transform: rotation(63deg); } }

@keyframes confetti-animation-8 {
  to {
    top: calc(100% + 64px);
    left: 118%;
    transform: rotation(63deg); } }

.confetti-9 {
  position: absolute;
  top: -64px;
  left: -11%;
  background-color: #f1c40f;
  width: 4px;
  height: 8px;
  transform: rotation(495deg);
  -webkit-animation-name: confetti-animation-9;
          animation-name: confetti-animation-9;
  -webkit-animation-duration: 1.08479s;
          animation-duration: 1.08479s;
  -webkit-animation-delay: 0.72607s;
          animation-delay: 0.72607s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-9 {
  to {
    top: calc(100% + 64px);
    left: 119%;
    transform: rotation(42deg); } }

@keyframes confetti-animation-9 {
  to {
    top: calc(100% + 64px);
    left: 119%;
    transform: rotation(42deg); } }

.confetti-10 {
  position: absolute;
  top: -64px;
  left: 105%;
  background-color: #e74c3c;
  width: 3.5px;
  height: 7px;
  transform: rotation(617deg);
  -webkit-animation-name: confetti-animation-10;
          animation-name: confetti-animation-10;
  -webkit-animation-duration: 2.32717s;
          animation-duration: 2.32717s;
  -webkit-animation-delay: 0.06427s;
          animation-delay: 0.06427s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-10 {
  to {
    top: calc(100% + 64px);
    left: 77%;
    transform: rotation(672deg); } }

@keyframes confetti-animation-10 {
  to {
    top: calc(100% + 64px);
    left: 77%;
    transform: rotation(672deg); } }

.confetti-11 {
  position: absolute;
  top: -64px;
  left: 21%;
  background-color: #e74c3c;
  width: 3.5px;
  height: 7px;
  transform: rotation(500deg);
  -webkit-animation-name: confetti-animation-11;
          animation-name: confetti-animation-11;
  -webkit-animation-duration: 1.36498s;
          animation-duration: 1.36498s;
  -webkit-animation-delay: 0.98944s;
          animation-delay: 0.98944s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-11 {
  to {
    top: calc(100% + 64px);
    left: 111%;
    transform: rotation(399deg); } }

@keyframes confetti-animation-11 {
  to {
    top: calc(100% + 64px);
    left: 111%;
    transform: rotation(399deg); } }

.confetti-12 {
  position: absolute;
  top: -64px;
  left: 33%;
  background-color: #9b59b6;
  width: 4px;
  height: 8px;
  transform: rotation(391deg);
  -webkit-animation-name: confetti-animation-12;
          animation-name: confetti-animation-12;
  -webkit-animation-duration: 1.79046s;
          animation-duration: 1.79046s;
  -webkit-animation-delay: 0.27602s;
          animation-delay: 0.27602s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-12 {
  to {
    top: calc(100% + 64px);
    left: 89%;
    transform: rotation(689deg); } }

@keyframes confetti-animation-12 {
  to {
    top: calc(100% + 64px);
    left: 89%;
    transform: rotation(689deg); } }

.confetti-13 {
  position: absolute;
  top: -64px;
  left: 125%;
  background-color: #f1c40f;
  width: 5px;
  height: 10px;
  transform: rotation(485deg);
  -webkit-animation-name: confetti-animation-13;
          animation-name: confetti-animation-13;
  -webkit-animation-duration: 2.31473s;
          animation-duration: 2.31473s;
  -webkit-animation-delay: 0.609s;
          animation-delay: 0.609s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-13 {
  to {
    top: calc(100% + 64px);
    left: 64%;
    transform: rotation(371deg); } }

@keyframes confetti-animation-13 {
  to {
    top: calc(100% + 64px);
    left: 64%;
    transform: rotation(371deg); } }

.confetti-14 {
  position: absolute;
  top: -64px;
  left: 30%;
  background-color: #9b59b6;
  width: 4.5px;
  height: 9px;
  transform: rotation(715deg);
  -webkit-animation-name: confetti-animation-14;
          animation-name: confetti-animation-14;
  -webkit-animation-duration: 1.24195s;
          animation-duration: 1.24195s;
  -webkit-animation-delay: 0.87994s;
          animation-delay: 0.87994s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-14 {
  to {
    top: calc(100% + 64px);
    left: 33%;
    transform: rotation(599deg); } }

@keyframes confetti-animation-14 {
  to {
    top: calc(100% + 64px);
    left: 33%;
    transform: rotation(599deg); } }

.confetti-15 {
  position: absolute;
  top: -64px;
  left: 100%;
  background-color: #9b59b6;
  width: 3.5px;
  height: 7px;
  transform: rotation(67deg);
  -webkit-animation-name: confetti-animation-15;
          animation-name: confetti-animation-15;
  -webkit-animation-duration: 2.4503s;
          animation-duration: 2.4503s;
  -webkit-animation-delay: 0.94928s;
          animation-delay: 0.94928s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-15 {
  to {
    top: calc(100% + 64px);
    left: 74%;
    transform: rotation(235deg); } }

@keyframes confetti-animation-15 {
  to {
    top: calc(100% + 64px);
    left: 74%;
    transform: rotation(235deg); } }

.confetti-16 {
  position: absolute;
  top: -64px;
  left: 100%;
  background-color: #9b59b6;
  width: 3.5px;
  height: 7px;
  transform: rotation(577deg);
  -webkit-animation-name: confetti-animation-16;
          animation-name: confetti-animation-16;
  -webkit-animation-duration: 2.81681s;
          animation-duration: 2.81681s;
  -webkit-animation-delay: 0.66583s;
          animation-delay: 0.66583s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-16 {
  to {
    top: calc(100% + 64px);
    left: 113%;
    transform: rotation(364deg); } }

@keyframes confetti-animation-16 {
  to {
    top: calc(100% + 64px);
    left: 113%;
    transform: rotation(364deg); } }

.confetti-17 {
  position: absolute;
  top: -64px;
  left: 118%;
  background-color: #9b59b6;
  width: 4px;
  height: 8px;
  transform: rotation(103deg);
  -webkit-animation-name: confetti-animation-17;
          animation-name: confetti-animation-17;
  -webkit-animation-duration: 2.83047s;
          animation-duration: 2.83047s;
  -webkit-animation-delay: 0.89331s;
          animation-delay: 0.89331s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-17 {
  to {
    top: calc(100% + 64px);
    left: 82%;
    transform: rotation(17deg); } }

@keyframes confetti-animation-17 {
  to {
    top: calc(100% + 64px);
    left: 82%;
    transform: rotation(17deg); } }

.confetti-18 {
  position: absolute;
  top: -64px;
  left: -9%;
  background-color: #3498db;
  width: 5px;
  height: 10px;
  transform: rotation(658deg);
  -webkit-animation-name: confetti-animation-18;
          animation-name: confetti-animation-18;
  -webkit-animation-duration: 1.73148s;
          animation-duration: 1.73148s;
  -webkit-animation-delay: 0.38834s;
          animation-delay: 0.38834s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-18 {
  to {
    top: calc(100% + 64px);
    left: 63%;
    transform: rotation(661deg); } }

@keyframes confetti-animation-18 {
  to {
    top: calc(100% + 64px);
    left: 63%;
    transform: rotation(661deg); } }

.confetti-19 {
  position: absolute;
  top: -64px;
  left: -4%;
  background-color: #e74c3c;
  width: 5px;
  height: 10px;
  transform: rotation(719deg);
  -webkit-animation-name: confetti-animation-19;
          animation-name: confetti-animation-19;
  -webkit-animation-duration: 2.25245s;
          animation-duration: 2.25245s;
  -webkit-animation-delay: 1.33237s;
          animation-delay: 1.33237s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-19 {
  to {
    top: calc(100% + 64px);
    left: -9%;
    transform: rotation(33deg); } }

@keyframes confetti-animation-19 {
  to {
    top: calc(100% + 64px);
    left: -9%;
    transform: rotation(33deg); } }

.confetti-20 {
  position: absolute;
  top: -64px;
  left: 59%;
  background-color: #3498db;
  width: 5px;
  height: 10px;
  transform: rotation(522deg);
  -webkit-animation-name: confetti-animation-20;
          animation-name: confetti-animation-20;
  -webkit-animation-duration: 2.741s;
          animation-duration: 2.741s;
  -webkit-animation-delay: 1.40009s;
          animation-delay: 1.40009s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-20 {
  to {
    top: calc(100% + 64px);
    left: 61%;
    transform: rotation(494deg); } }

@keyframes confetti-animation-20 {
  to {
    top: calc(100% + 64px);
    left: 61%;
    transform: rotation(494deg); } }

.confetti-21 {
  position: absolute;
  top: -64px;
  left: 34%;
  background-color: #3498db;
  width: 4px;
  height: 8px;
  transform: rotation(300deg);
  -webkit-animation-name: confetti-animation-21;
          animation-name: confetti-animation-21;
  -webkit-animation-duration: 2.0044s;
          animation-duration: 2.0044s;
  -webkit-animation-delay: 0.54215s;
          animation-delay: 0.54215s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-21 {
  to {
    top: calc(100% + 64px);
    left: 79%;
    transform: rotation(62deg); } }

@keyframes confetti-animation-21 {
  to {
    top: calc(100% + 64px);
    left: 79%;
    transform: rotation(62deg); } }

.confetti-22 {
  position: absolute;
  top: -64px;
  left: 98%;
  background-color: #9b59b6;
  width: 3.5px;
  height: 7px;
  transform: rotation(437deg);
  -webkit-animation-name: confetti-animation-22;
          animation-name: confetti-animation-22;
  -webkit-animation-duration: 1.4894s;
          animation-duration: 1.4894s;
  -webkit-animation-delay: 0.22124s;
          animation-delay: 0.22124s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-22 {
  to {
    top: calc(100% + 64px);
    left: 47%;
    transform: rotation(500deg); } }

@keyframes confetti-animation-22 {
  to {
    top: calc(100% + 64px);
    left: 47%;
    transform: rotation(500deg); } }

.confetti-23 {
  position: absolute;
  top: -64px;
  left: 1%;
  background-color: #f1c40f;
  width: 3px;
  height: 6px;
  transform: rotation(222deg);
  -webkit-animation-name: confetti-animation-23;
          animation-name: confetti-animation-23;
  -webkit-animation-duration: 1.66991s;
          animation-duration: 1.66991s;
  -webkit-animation-delay: 1.28213s;
          animation-delay: 1.28213s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-23 {
  to {
    top: calc(100% + 64px);
    left: 108%;
    transform: rotation(476deg); } }

@keyframes confetti-animation-23 {
  to {
    top: calc(100% + 64px);
    left: 108%;
    transform: rotation(476deg); } }

.confetti-24 {
  position: absolute;
  top: -64px;
  left: 68%;
  background-color: #f1c40f;
  width: 3.5px;
  height: 7px;
  transform: rotation(712deg);
  -webkit-animation-name: confetti-animation-24;
          animation-name: confetti-animation-24;
  -webkit-animation-duration: 1.137s;
          animation-duration: 1.137s;
  -webkit-animation-delay: 0.44012s;
          animation-delay: 0.44012s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-24 {
  to {
    top: calc(100% + 64px);
    left: 62%;
    transform: rotation(628deg); } }

@keyframes confetti-animation-24 {
  to {
    top: calc(100% + 64px);
    left: 62%;
    transform: rotation(628deg); } }

.confetti-25 {
  position: absolute;
  top: -64px;
  left: 124%;
  background-color: #f1c40f;
  width: 3.5px;
  height: 7px;
  transform: rotation(441deg);
  -webkit-animation-name: confetti-animation-25;
          animation-name: confetti-animation-25;
  -webkit-animation-duration: 1.22337s;
          animation-duration: 1.22337s;
  -webkit-animation-delay: 0.08135s;
          animation-delay: 0.08135s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-25 {
  to {
    top: calc(100% + 64px);
    left: 112%;
    transform: rotation(632deg); } }

@keyframes confetti-animation-25 {
  to {
    top: calc(100% + 64px);
    left: 112%;
    transform: rotation(632deg); } }

.confetti-26 {
  position: absolute;
  top: -64px;
  left: 71%;
  background-color: #e74c3c;
  width: 4px;
  height: 8px;
  transform: rotation(257deg);
  -webkit-animation-name: confetti-animation-26;
          animation-name: confetti-animation-26;
  -webkit-animation-duration: 1.03269s;
          animation-duration: 1.03269s;
  -webkit-animation-delay: 1.37583s;
          animation-delay: 1.37583s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-26 {
  to {
    top: calc(100% + 64px);
    left: 16%;
    transform: rotation(523deg); } }

@keyframes confetti-animation-26 {
  to {
    top: calc(100% + 64px);
    left: 16%;
    transform: rotation(523deg); } }

.confetti-27 {
  position: absolute;
  top: -64px;
  left: 3%;
  background-color: #f1c40f;
  width: 4px;
  height: 8px;
  transform: rotation(673deg);
  -webkit-animation-name: confetti-animation-27;
          animation-name: confetti-animation-27;
  -webkit-animation-duration: 2.58901s;
          animation-duration: 2.58901s;
  -webkit-animation-delay: 1.26094s;
          animation-delay: 1.26094s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-27 {
  to {
    top: calc(100% + 64px);
    left: 8%;
    transform: rotation(394deg); } }

@keyframes confetti-animation-27 {
  to {
    top: calc(100% + 64px);
    left: 8%;
    transform: rotation(394deg); } }

.confetti-28 {
  position: absolute;
  top: -64px;
  left: 28%;
  background-color: #e74c3c;
  width: 5px;
  height: 10px;
  transform: rotation(81deg);
  -webkit-animation-name: confetti-animation-28;
          animation-name: confetti-animation-28;
  -webkit-animation-duration: 2.36115s;
          animation-duration: 2.36115s;
  -webkit-animation-delay: 0.82375s;
          animation-delay: 0.82375s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-28 {
  to {
    top: calc(100% + 64px);
    left: 69%;
    transform: rotation(38deg); } }

@keyframes confetti-animation-28 {
  to {
    top: calc(100% + 64px);
    left: 69%;
    transform: rotation(38deg); } }

.confetti-29 {
  position: absolute;
  top: -64px;
  left: 115%;
  background-color: #f1c40f;
  width: 3px;
  height: 6px;
  transform: rotation(439deg);
  -webkit-animation-name: confetti-animation-29;
          animation-name: confetti-animation-29;
  -webkit-animation-duration: 1.69588s;
          animation-duration: 1.69588s;
  -webkit-animation-delay: 0.05509s;
          animation-delay: 0.05509s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-29 {
  to {
    top: calc(100% + 64px);
    left: 88%;
    transform: rotation(659deg); } }

@keyframes confetti-animation-29 {
  to {
    top: calc(100% + 64px);
    left: 88%;
    transform: rotation(659deg); } }

.confetti-30 {
  position: absolute;
  top: -64px;
  left: 51%;
  background-color: #3498db;
  width: 3.5px;
  height: 7px;
  transform: rotation(510deg);
  -webkit-animation-name: confetti-animation-30;
          animation-name: confetti-animation-30;
  -webkit-animation-duration: 2.53052s;
          animation-duration: 2.53052s;
  -webkit-animation-delay: 1.39731s;
          animation-delay: 1.39731s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-30 {
  to {
    top: calc(100% + 64px);
    left: 92%;
    transform: rotation(484deg); } }

@keyframes confetti-animation-30 {
  to {
    top: calc(100% + 64px);
    left: 92%;
    transform: rotation(484deg); } }

.confetti-31 {
  position: absolute;
  top: -64px;
  left: 28%;
  background-color: #e74c3c;
  width: 3px;
  height: 6px;
  transform: rotation(511deg);
  -webkit-animation-name: confetti-animation-31;
          animation-name: confetti-animation-31;
  -webkit-animation-duration: 1.04869s;
          animation-duration: 1.04869s;
  -webkit-animation-delay: 0.95487s;
          animation-delay: 0.95487s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-31 {
  to {
    top: calc(100% + 64px);
    left: 70%;
    transform: rotation(224deg); } }

@keyframes confetti-animation-31 {
  to {
    top: calc(100% + 64px);
    left: 70%;
    transform: rotation(224deg); } }

.confetti-32 {
  position: absolute;
  top: -64px;
  left: 117%;
  background-color: #9b59b6;
  width: 4.5px;
  height: 9px;
  transform: rotation(194deg);
  -webkit-animation-name: confetti-animation-32;
          animation-name: confetti-animation-32;
  -webkit-animation-duration: 1.21339s;
          animation-duration: 1.21339s;
  -webkit-animation-delay: 0.85005s;
          animation-delay: 0.85005s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-32 {
  to {
    top: calc(100% + 64px);
    left: 82%;
    transform: rotation(676deg); } }

@keyframes confetti-animation-32 {
  to {
    top: calc(100% + 64px);
    left: 82%;
    transform: rotation(676deg); } }

.confetti-33 {
  position: absolute;
  top: -64px;
  left: 19%;
  background-color: #e74c3c;
  width: 4px;
  height: 8px;
  transform: rotation(629deg);
  -webkit-animation-name: confetti-animation-33;
          animation-name: confetti-animation-33;
  -webkit-animation-duration: 1.53521s;
          animation-duration: 1.53521s;
  -webkit-animation-delay: 1.29036s;
          animation-delay: 1.29036s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-33 {
  to {
    top: calc(100% + 64px);
    left: 48%;
    transform: rotation(344deg); } }

@keyframes confetti-animation-33 {
  to {
    top: calc(100% + 64px);
    left: 48%;
    transform: rotation(344deg); } }

.confetti-34 {
  position: absolute;
  top: -64px;
  left: 44%;
  background-color: #f1c40f;
  width: 3.5px;
  height: 7px;
  transform: rotation(677deg);
  -webkit-animation-name: confetti-animation-34;
          animation-name: confetti-animation-34;
  -webkit-animation-duration: 1.22322s;
          animation-duration: 1.22322s;
  -webkit-animation-delay: 0.98675s;
          animation-delay: 0.98675s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-34 {
  to {
    top: calc(100% + 64px);
    left: 17%;
    transform: rotation(127deg); } }

@keyframes confetti-animation-34 {
  to {
    top: calc(100% + 64px);
    left: 17%;
    transform: rotation(127deg); } }

.confetti-35 {
  position: absolute;
  top: -64px;
  left: 56%;
  background-color: #f1c40f;
  width: 4.5px;
  height: 9px;
  transform: rotation(277deg);
  -webkit-animation-name: confetti-animation-35;
          animation-name: confetti-animation-35;
  -webkit-animation-duration: 2.99953s;
          animation-duration: 2.99953s;
  -webkit-animation-delay: 0.19978s;
          animation-delay: 0.19978s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-35 {
  to {
    top: calc(100% + 64px);
    left: 76%;
    transform: rotation(676deg); } }

@keyframes confetti-animation-35 {
  to {
    top: calc(100% + 64px);
    left: 76%;
    transform: rotation(676deg); } }

.confetti-36 {
  position: absolute;
  top: -64px;
  left: 51%;
  background-color: #9b59b6;
  width: 5px;
  height: 10px;
  transform: rotation(254deg);
  -webkit-animation-name: confetti-animation-36;
          animation-name: confetti-animation-36;
  -webkit-animation-duration: 2.40044s;
          animation-duration: 2.40044s;
  -webkit-animation-delay: 0.0385s;
          animation-delay: 0.0385s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-36 {
  to {
    top: calc(100% + 64px);
    left: 33%;
    transform: rotation(616deg); } }

@keyframes confetti-animation-36 {
  to {
    top: calc(100% + 64px);
    left: 33%;
    transform: rotation(616deg); } }

.confetti-37 {
  position: absolute;
  top: -64px;
  left: 64%;
  background-color: #f1c40f;
  width: 3.5px;
  height: 7px;
  transform: rotation(160deg);
  -webkit-animation-name: confetti-animation-37;
          animation-name: confetti-animation-37;
  -webkit-animation-duration: 2.18678s;
          animation-duration: 2.18678s;
  -webkit-animation-delay: 0.72559s;
          animation-delay: 0.72559s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-37 {
  to {
    top: calc(100% + 64px);
    left: 97%;
    transform: rotation(300deg); } }

@keyframes confetti-animation-37 {
  to {
    top: calc(100% + 64px);
    left: 97%;
    transform: rotation(300deg); } }

.confetti-38 {
  position: absolute;
  top: -64px;
  left: 116%;
  background-color: #3498db;
  width: 3px;
  height: 6px;
  transform: rotation(629deg);
  -webkit-animation-name: confetti-animation-38;
          animation-name: confetti-animation-38;
  -webkit-animation-duration: 1.08111s;
          animation-duration: 1.08111s;
  -webkit-animation-delay: 0.91657s;
          animation-delay: 0.91657s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-38 {
  to {
    top: calc(100% + 64px);
    left: 26%;
    transform: rotation(664deg); } }

@keyframes confetti-animation-38 {
  to {
    top: calc(100% + 64px);
    left: 26%;
    transform: rotation(664deg); } }

.confetti-39 {
  position: absolute;
  top: -64px;
  left: 34%;
  background-color: #e74c3c;
  width: 4.5px;
  height: 9px;
  transform: rotation(5deg);
  -webkit-animation-name: confetti-animation-39;
          animation-name: confetti-animation-39;
  -webkit-animation-duration: 2.19668s;
          animation-duration: 2.19668s;
  -webkit-animation-delay: 0.07615s;
          animation-delay: 0.07615s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-39 {
  to {
    top: calc(100% + 64px);
    left: -18%;
    transform: rotation(32deg); } }

@keyframes confetti-animation-39 {
  to {
    top: calc(100% + 64px);
    left: -18%;
    transform: rotation(32deg); } }

.confetti-40 {
  position: absolute;
  top: -64px;
  left: 58%;
  background-color: #9b59b6;
  width: 3.5px;
  height: 7px;
  transform: rotation(567deg);
  -webkit-animation-name: confetti-animation-40;
          animation-name: confetti-animation-40;
  -webkit-animation-duration: 1.80008s;
          animation-duration: 1.80008s;
  -webkit-animation-delay: 0.97626s;
          animation-delay: 0.97626s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-40 {
  to {
    top: calc(100% + 64px);
    left: -11%;
    transform: rotation(384deg); } }

@keyframes confetti-animation-40 {
  to {
    top: calc(100% + 64px);
    left: -11%;
    transform: rotation(384deg); } }

.confetti-41 {
  position: absolute;
  top: -64px;
  left: -8%;
  background-color: #f1c40f;
  width: 4px;
  height: 8px;
  transform: rotation(581deg);
  -webkit-animation-name: confetti-animation-41;
          animation-name: confetti-animation-41;
  -webkit-animation-duration: 1.95366s;
          animation-duration: 1.95366s;
  -webkit-animation-delay: 1.2917s;
          animation-delay: 1.2917s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-41 {
  to {
    top: calc(100% + 64px);
    left: 66%;
    transform: rotation(693deg); } }

@keyframes confetti-animation-41 {
  to {
    top: calc(100% + 64px);
    left: 66%;
    transform: rotation(693deg); } }

.confetti-42 {
  position: absolute;
  top: -64px;
  left: 95%;
  background-color: #f1c40f;
  width: 4px;
  height: 8px;
  transform: rotation(568deg);
  -webkit-animation-name: confetti-animation-42;
          animation-name: confetti-animation-42;
  -webkit-animation-duration: 1.80368s;
          animation-duration: 1.80368s;
  -webkit-animation-delay: 0.83328s;
          animation-delay: 0.83328s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-42 {
  to {
    top: calc(100% + 64px);
    left: 18%;
    transform: rotation(450deg); } }

@keyframes confetti-animation-42 {
  to {
    top: calc(100% + 64px);
    left: 18%;
    transform: rotation(450deg); } }

.confetti-43 {
  position: absolute;
  top: -64px;
  left: 88%;
  background-color: #f1c40f;
  width: 4px;
  height: 8px;
  transform: rotation(673deg);
  -webkit-animation-name: confetti-animation-43;
          animation-name: confetti-animation-43;
  -webkit-animation-duration: 2.99999s;
          animation-duration: 2.99999s;
  -webkit-animation-delay: 1.16433s;
          animation-delay: 1.16433s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-43 {
  to {
    top: calc(100% + 64px);
    left: -9%;
    transform: rotation(466deg); } }

@keyframes confetti-animation-43 {
  to {
    top: calc(100% + 64px);
    left: -9%;
    transform: rotation(466deg); } }

.confetti-44 {
  position: absolute;
  top: -64px;
  left: 109%;
  background-color: #9b59b6;
  width: 4px;
  height: 8px;
  transform: rotation(30deg);
  -webkit-animation-name: confetti-animation-44;
          animation-name: confetti-animation-44;
  -webkit-animation-duration: 2.27281s;
          animation-duration: 2.27281s;
  -webkit-animation-delay: 1.29628s;
          animation-delay: 1.29628s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-44 {
  to {
    top: calc(100% + 64px);
    left: -14%;
    transform: rotation(644deg); } }

@keyframes confetti-animation-44 {
  to {
    top: calc(100% + 64px);
    left: -14%;
    transform: rotation(644deg); } }

.confetti-45 {
  position: absolute;
  top: -64px;
  left: 112%;
  background-color: #9b59b6;
  width: 5px;
  height: 10px;
  transform: rotation(458deg);
  -webkit-animation-name: confetti-animation-45;
          animation-name: confetti-animation-45;
  -webkit-animation-duration: 2.26511s;
          animation-duration: 2.26511s;
  -webkit-animation-delay: 1.19783s;
          animation-delay: 1.19783s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-45 {
  to {
    top: calc(100% + 64px);
    left: 64%;
    transform: rotation(504deg); } }

@keyframes confetti-animation-45 {
  to {
    top: calc(100% + 64px);
    left: 64%;
    transform: rotation(504deg); } }

.confetti-46 {
  position: absolute;
  top: -64px;
  left: -15%;
  background-color: #f1c40f;
  width: 3.5px;
  height: 7px;
  transform: rotation(189deg);
  -webkit-animation-name: confetti-animation-46;
          animation-name: confetti-animation-46;
  -webkit-animation-duration: 1.5147s;
          animation-duration: 1.5147s;
  -webkit-animation-delay: 1.41517s;
          animation-delay: 1.41517s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-46 {
  to {
    top: calc(100% + 64px);
    left: 124%;
    transform: rotation(395deg); } }

@keyframes confetti-animation-46 {
  to {
    top: calc(100% + 64px);
    left: 124%;
    transform: rotation(395deg); } }

.confetti-47 {
  position: absolute;
  top: -64px;
  left: 83%;
  background-color: #9b59b6;
  width: 4px;
  height: 8px;
  transform: rotation(254deg);
  -webkit-animation-name: confetti-animation-47;
          animation-name: confetti-animation-47;
  -webkit-animation-duration: 1.62403s;
          animation-duration: 1.62403s;
  -webkit-animation-delay: 0.67464s;
          animation-delay: 0.67464s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-47 {
  to {
    top: calc(100% + 64px);
    left: 90%;
    transform: rotation(701deg); } }

@keyframes confetti-animation-47 {
  to {
    top: calc(100% + 64px);
    left: 90%;
    transform: rotation(701deg); } }

.confetti-48 {
  position: absolute;
  top: -64px;
  left: 20%;
  background-color: #e74c3c;
  width: 4px;
  height: 8px;
  transform: rotation(608deg);
  -webkit-animation-name: confetti-animation-48;
          animation-name: confetti-animation-48;
  -webkit-animation-duration: 1.67458s;
          animation-duration: 1.67458s;
  -webkit-animation-delay: 1.31684s;
          animation-delay: 1.31684s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-48 {
  to {
    top: calc(100% + 64px);
    left: 93%;
    transform: rotation(587deg); } }

@keyframes confetti-animation-48 {
  to {
    top: calc(100% + 64px);
    left: 93%;
    transform: rotation(587deg); } }

.confetti-49 {
  position: absolute;
  top: -64px;
  left: 64%;
  background-color: #9b59b6;
  width: 3px;
  height: 6px;
  transform: rotation(500deg);
  -webkit-animation-name: confetti-animation-49;
          animation-name: confetti-animation-49;
  -webkit-animation-duration: 1.10326s;
          animation-duration: 1.10326s;
  -webkit-animation-delay: 0.82777s;
          animation-delay: 0.82777s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-49 {
  to {
    top: calc(100% + 64px);
    left: 59%;
    transform: rotation(100deg); } }

@keyframes confetti-animation-49 {
  to {
    top: calc(100% + 64px);
    left: 59%;
    transform: rotation(100deg); } }

.confetti-50 {
  position: absolute;
  top: -64px;
  left: 88%;
  background-color: #3498db;
  width: 3px;
  height: 6px;
  transform: rotation(130deg);
  -webkit-animation-name: confetti-animation-50;
          animation-name: confetti-animation-50;
  -webkit-animation-duration: 1.54501s;
          animation-duration: 1.54501s;
  -webkit-animation-delay: 1.21768s;
          animation-delay: 1.21768s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-50 {
  to {
    top: calc(100% + 64px);
    left: 115%;
    transform: rotation(559deg); } }

@keyframes confetti-animation-50 {
  to {
    top: calc(100% + 64px);
    left: 115%;
    transform: rotation(559deg); } }

.container, .announcement, h1.section-title {
  width: 1200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-sizing: border-box;
  padding: 32px;
  margin-bottom: 32px; }

header.header-dance {
  background-color: white;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); }
  @media screen and (max-width: 780px) {
    header.header-dance {
      position: relative;
      overflow-x: hidden; } }
  header.header-dance .container, header.header-dance .announcement, header.header-dance h1.section-title {
    margin-top: 0;
    padding-top: 0;
    background-color: transparent; }
  header.header-dance img {
    margin-bottom: -35px; }
    @media screen and (max-width: 780px) {
      header.header-dance img {
        margin-bottom: 0;
        height: 150px; } }
  header.header-dance .lateral-primary {
    padding-bottom: 32px; }
    header.header-dance .lateral-primary p {
      max-width: 600px; }
  header.header-dance .lateral-secondary {
    align-items: flex-end;
    position: relative; }
    @media screen and (max-width: 780px) {
      header.header-dance .lateral-secondary {
        align-self: stretch; } }
  header.header-dance.dance-started {
    -webkit-animation-name: party-colors;
            animation-name: party-colors;
    -webkit-animation-duration: 10000ms;
            animation-duration: 10000ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; }
    header.header-dance.dance-started .content {
      -webkit-animation-name: wavy-text;
              animation-name: wavy-text;
      -webkit-animation-duration: 2000ms;
              animation-duration: 2000ms;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
              animation-direction: alternate; }
    header.header-dance.dance-started img {
      -webkit-animation-name: andrey-dance;
              animation-name: andrey-dance;
      -webkit-animation-duration: 2000ms;
              animation-duration: 2000ms;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear; }
    header.header-dance.dance-started .splash-content {
      background-color: transparent; }
  header.header-dance.dance-not-started {
    -webkit-animation-name: header-slide-in;
            animation-name: header-slide-in;
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1; }
    header.header-dance.dance-not-started img {
      -webkit-animation-name: icon-slide-in;
              animation-name: icon-slide-in;
      -webkit-animation-duration: 1000ms;
              animation-duration: 1000ms;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }

@media screen and (max-width: 780px) {
  @-webkit-keyframes header-slide-in {
    0% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
              clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%); }
    75% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    100% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%); } }
  @keyframes header-slide-in {
    0% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
              clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%); }
    75% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    100% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%); } } }

@media screen and (min-width: 781px) {
  @-webkit-keyframes header-slide-in {
    0% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
              clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%); }
    75% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    100% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); } }
  @keyframes header-slide-in {
    0% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
              clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%); }
    75% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    100% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); } } }

@media screen and (max-width: 780px) {
  @-webkit-keyframes icon-slide-in {
    0% {
      transform: translateX(-150%) rotate(-45deg); }
    90% {
      transform: translateX(10%) rotate(15deg); }
    100% {
      transform: translateX(0%); } }
  @keyframes icon-slide-in {
    0% {
      transform: translateX(-150%) rotate(-45deg); }
    90% {
      transform: translateX(10%) rotate(15deg); }
    100% {
      transform: translateX(0%); } } }

@media screen and (min-width: 781px) {
  @-webkit-keyframes icon-slide-in {
    0% {
      transform: translateY(100%); }
    50% {
      transform: translateY(80%); }
    100% {
      transform: translateY(0%); } }
  @keyframes icon-slide-in {
    0% {
      transform: translateY(100%); }
    50% {
      transform: translateY(80%); }
    100% {
      transform: translateY(0%); } } }

.lateral-view {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 32px; }
  .lateral-view .lateral-secondary {
    display: flex;
    justify-content: center;
    align-items: center; }
    .lateral-view .lateral-secondary img {
      max-width: 350px; }
  .lateral-view.alt {
    flex-direction: row-reverse; }
    .lateral-view.alt .lateral-primary {
      padding-right: 32px; }
  .lateral-view:not(.alt) .lateral-primary {
    padding-left: 32px; }
  .lateral-view .lateral-primary {
    flex: 1; }
  @media screen and (max-width: 780px) {
    .lateral-view, .lateral-view.alt {
      flex-direction: column; }
    .lateral-view.alt .lateral-primary {
      padding-right: 0; }
    .lateral-view:not(.alt) .lateral-primary {
      padding-left: 0; } }

ul.links-collection {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.1em;
  list-style-type: none; }
  ul.links-collection a {
    display: block;
    color: #0984e3;
    padding: 8px 16px;
    border-radius: 8px;
    margin-right: 8px;
    font-size: 0.8em;
    transition: 250ms color, 250ms background-color; }
    ul.links-collection a:hover {
      color: #74b9ff; }
  ul.links-collection li:first-of-type a {
    background-color: #0984e3;
    color: white;
    text-decoration: none; }
    ul.links-collection li:first-of-type a:hover {
      background-color: #74b9ff; }

h1.section-title {
  margin-top: 1em;
  background-color: transparent;
  font-size: 3em; }
