@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:700&display=swap");
@-webkit-keyframes party-colors {
  0% {
    background-color: white; }
  10% {
    background-color: #ff240088; }
  20% {
    background-color: #e81d1d88; }
  30% {
    background-color: #e8b71d88; }
  40% {
    background-color: #e3e81d88; }
  50% {
    background-color: #1de84088; }
  60% {
    background-color: #1ddde888; }
  70% {
    background-color: #dd00f388; }
  80% {
    background-color: #dd00f388; }
  100% {
    background-color: #ff240088; } }
@keyframes party-colors {
  0% {
    background-color: white; }
  10% {
    background-color: #ff240088; }
  20% {
    background-color: #e81d1d88; }
  30% {
    background-color: #e8b71d88; }
  40% {
    background-color: #e3e81d88; }
  50% {
    background-color: #1de84088; }
  60% {
    background-color: #1ddde888; }
  70% {
    background-color: #dd00f388; }
  80% {
    background-color: #dd00f388; }
  100% {
    background-color: #ff240088; } }

@media screen and (max-width: 780px) {
  @-webkit-keyframes andrey-dance {
    0% {
      transform: translateY(0px); }
    25% {
      transform: rotate(-15deg) translateX(-40px) translateY(-20px); }
    50% {
      transform: translateY(0px); }
    75% {
      transform: rotate(15deg) translateX(40px) translateY(-20px); }
    100% {
      transform: translateY(0px); } }
  @keyframes andrey-dance {
    0% {
      transform: translateY(0px); }
    25% {
      transform: rotate(-15deg) translateX(-40px) translateY(-20px); }
    50% {
      transform: translateY(0px); }
    75% {
      transform: rotate(15deg) translateX(40px) translateY(-20px); }
    100% {
      transform: translateY(0px); } } }

@media screen and (min-width: 781px) {
  @-webkit-keyframes andrey-dance {
    0% {
      transform: translateY(20px); }
    25% {
      transform: rotate(-15deg) translateX(-40px); }
    50% {
      transform: translateY(20px); }
    75% {
      transform: rotate(15deg) translateX(40px); }
    100% {
      transform: translateY(20px); } }
  @keyframes andrey-dance {
    0% {
      transform: translateY(20px); }
    25% {
      transform: rotate(-15deg) translateX(-40px); }
    50% {
      transform: translateY(20px); }
    75% {
      transform: rotate(15deg) translateX(40px); }
    100% {
      transform: translateY(20px); } } }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #dfe6e9;
  font-size: 21px;
  padding: 0;
  margin: 0; }

p, li {
  line-height: 1.6em;
  margin-top: 1em; }
  p:first-of-type, li:first-of-type {
    margin-top: 0; }

h1, h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  margin-bottom: 1rem; }

hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to left, transparent, #8c8b8b, transparent); }

a {
  color: #0984e3; }
  a:hover {
    color: #74b9ff; }

.hidden {
  display: none; }

.announcement p:last-of-type {
  margin-bottom: 0; }

button,
.button,
ul.links-collection a,
ul.links-collection li:first-of-type a {
  cursor: pointer;
  display: block;
  padding: 8px 16px;
  border-radius: 8px;
  margin-right: 8px;
  transition: 250ms color, 250ms background-color;
  background-color: transparent;
  border: 0; }
  button.bare,
  .button.bare,
  ul.links-collection a,
  ul.links-collection li:first-of-type a {
    color: #0984e3; }
    button.bare:hover,
    .button.bare:hover,
    ul.links-collection a:hover,
    ul.links-collection li:first-of-type a:hover {
      color: #74b9ff; }
  button.primary,
  .button.primary,
  ul.links-collection a.primary,
  ul.links-collection li:first-of-type a {
    background-color: #0984e3;
    color: white;
    text-decoration: none; }
    button.primary:hover,
    .button.primary:hover,
    ul.links-collection a.primary:hover,
    ul.links-collection li:first-of-type a:hover {
      background-color: #74b9ff; }
  button.primary-ghost,
  .button.primary-ghost,
  ul.links-collection a.primary-ghost,
  ul.links-collection li:first-of-type a.primary-ghost {
    border: 1px solid #0984e3;
    color: #0984e3;
    text-decoration: none; }
    button.primary-ghost:hover,
    .button.primary-ghost:hover,
    ul.links-collection a.primary-ghost:hover {
      border-color: #74b9ff;
      color: #74b9ff; }
  button.big,
  .button.big,
  ul.links-collection a.big,
  ul.links-collection li:first-of-type a.big {
    font-size: 1.5em;
    padding: 16px 24px; }

.confetti-0 {
  position: absolute;
  top: -64px;
  left: 63%;
  background-color: #f1c40f;
  width: 4.5px;
  height: 9px;
  transform: rotation(203deg);
  -webkit-animation-name: confetti-animation-0;
          animation-name: confetti-animation-0;
  -webkit-animation-duration: 1.25997s;
          animation-duration: 1.25997s;
  -webkit-animation-delay: 0.22423s;
          animation-delay: 0.22423s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-0 {
  to {
    top: calc(100% + 64px);
    left: -9%;
    transform: rotation(361deg); } }

@keyframes confetti-animation-0 {
  to {
    top: calc(100% + 64px);
    left: -9%;
    transform: rotation(361deg); } }

.confetti-1 {
  position: absolute;
  top: -64px;
  left: 25%;
  background-color: #f1c40f;
  width: 3.5px;
  height: 7px;
  transform: rotation(643deg);
  -webkit-animation-name: confetti-animation-1;
          animation-name: confetti-animation-1;
  -webkit-animation-duration: 1.62603s;
          animation-duration: 1.62603s;
  -webkit-animation-delay: 0.23495s;
          animation-delay: 0.23495s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-1 {
  to {
    top: calc(100% + 64px);
    left: 1%;
    transform: rotation(547deg); } }

@keyframes confetti-animation-1 {
  to {
    top: calc(100% + 64px);
    left: 1%;
    transform: rotation(547deg); } }

.confetti-2 {
  position: absolute;
  top: -64px;
  left: 93%;
  background-color: #9b59b6;
  width: 4.5px;
  height: 9px;
  transform: rotation(614deg);
  -webkit-animation-name: confetti-animation-2;
          animation-name: confetti-animation-2;
  -webkit-animation-duration: 1.66053s;
          animation-duration: 1.66053s;
  -webkit-animation-delay: 0.83754s;
          animation-delay: 0.83754s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-2 {
  to {
    top: calc(100% + 64px);
    left: 87%;
    transform: rotation(206deg); } }

@keyframes confetti-animation-2 {
  to {
    top: calc(100% + 64px);
    left: 87%;
    transform: rotation(206deg); } }

.confetti-3 {
  position: absolute;
  top: -64px;
  left: 31%;
  background-color: #9b59b6;
  width: 3.5px;
  height: 7px;
  transform: rotation(698deg);
  -webkit-animation-name: confetti-animation-3;
          animation-name: confetti-animation-3;
  -webkit-animation-duration: 2.88391s;
          animation-duration: 2.88391s;
  -webkit-animation-delay: 0.24348s;
          animation-delay: 0.24348s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-3 {
  to {
    top: calc(100% + 64px);
    left: 6%;
    transform: rotation(321deg); } }

@keyframes confetti-animation-3 {
  to {
    top: calc(100% + 64px);
    left: 6%;
    transform: rotation(321deg); } }

.confetti-4 {
  position: absolute;
  top: -64px;
  left: 74%;
  background-color: #f1c40f;
  width: 3px;
  height: 6px;
  transform: rotation(590deg);
  -webkit-animation-name: confetti-animation-4;
          animation-name: confetti-animation-4;
  -webkit-animation-duration: 1.8849s;
          animation-duration: 1.8849s;
  -webkit-animation-delay: 0.71018s;
          animation-delay: 0.71018s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-4 {
  to {
    top: calc(100% + 64px);
    left: 108%;
    transform: rotation(234deg); } }

@keyframes confetti-animation-4 {
  to {
    top: calc(100% + 64px);
    left: 108%;
    transform: rotation(234deg); } }

.confetti-5 {
  position: absolute;
  top: -64px;
  left: 83%;
  background-color: #f1c40f;
  width: 3.5px;
  height: 7px;
  transform: rotation(544deg);
  -webkit-animation-name: confetti-animation-5;
          animation-name: confetti-animation-5;
  -webkit-animation-duration: 2.54459s;
          animation-duration: 2.54459s;
  -webkit-animation-delay: 0.05856s;
          animation-delay: 0.05856s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-5 {
  to {
    top: calc(100% + 64px);
    left: 55%;
    transform: rotation(284deg); } }

@keyframes confetti-animation-5 {
  to {
    top: calc(100% + 64px);
    left: 55%;
    transform: rotation(284deg); } }

.confetti-6 {
  position: absolute;
  top: -64px;
  left: -1%;
  background-color: #f1c40f;
  width: 4px;
  height: 8px;
  transform: rotation(607deg);
  -webkit-animation-name: confetti-animation-6;
          animation-name: confetti-animation-6;
  -webkit-animation-duration: 1.99142s;
          animation-duration: 1.99142s;
  -webkit-animation-delay: 1.19066s;
          animation-delay: 1.19066s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-6 {
  to {
    top: calc(100% + 64px);
    left: 39%;
    transform: rotation(1deg); } }

@keyframes confetti-animation-6 {
  to {
    top: calc(100% + 64px);
    left: 39%;
    transform: rotation(1deg); } }

.confetti-7 {
  position: absolute;
  top: -64px;
  left: 35%;
  background-color: #9b59b6;
  width: 4.5px;
  height: 9px;
  transform: rotation(490deg);
  -webkit-animation-name: confetti-animation-7;
          animation-name: confetti-animation-7;
  -webkit-animation-duration: 1.15841s;
          animation-duration: 1.15841s;
  -webkit-animation-delay: 1.07702s;
          animation-delay: 1.07702s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-7 {
  to {
    top: calc(100% + 64px);
    left: 37%;
    transform: rotation(494deg); } }

@keyframes confetti-animation-7 {
  to {
    top: calc(100% + 64px);
    left: 37%;
    transform: rotation(494deg); } }

.confetti-8 {
  position: absolute;
  top: -64px;
  left: 21%;
  background-color: #3498db;
  width: 3.5px;
  height: 7px;
  transform: rotation(345deg);
  -webkit-animation-name: confetti-animation-8;
          animation-name: confetti-animation-8;
  -webkit-animation-duration: 2.55807s;
          animation-duration: 2.55807s;
  -webkit-animation-delay: 1.00324s;
          animation-delay: 1.00324s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-8 {
  to {
    top: calc(100% + 64px);
    left: 43%;
    transform: rotation(123deg); } }

@keyframes confetti-animation-8 {
  to {
    top: calc(100% + 64px);
    left: 43%;
    transform: rotation(123deg); } }

.confetti-9 {
  position: absolute;
  top: -64px;
  left: 108%;
  background-color: #f1c40f;
  width: 4.5px;
  height: 9px;
  transform: rotation(574deg);
  -webkit-animation-name: confetti-animation-9;
          animation-name: confetti-animation-9;
  -webkit-animation-duration: 2.52237s;
          animation-duration: 2.52237s;
  -webkit-animation-delay: 0.9225s;
          animation-delay: 0.9225s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-9 {
  to {
    top: calc(100% + 64px);
    left: -18%;
    transform: rotation(275deg); } }

@keyframes confetti-animation-9 {
  to {
    top: calc(100% + 64px);
    left: -18%;
    transform: rotation(275deg); } }

.confetti-10 {
  position: absolute;
  top: -64px;
  left: 75%;
  background-color: #f1c40f;
  width: 3px;
  height: 6px;
  transform: rotation(521deg);
  -webkit-animation-name: confetti-animation-10;
          animation-name: confetti-animation-10;
  -webkit-animation-duration: 1.77326s;
          animation-duration: 1.77326s;
  -webkit-animation-delay: 0.25325s;
          animation-delay: 0.25325s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-10 {
  to {
    top: calc(100% + 64px);
    left: -17%;
    transform: rotation(241deg); } }

@keyframes confetti-animation-10 {
  to {
    top: calc(100% + 64px);
    left: -17%;
    transform: rotation(241deg); } }

.confetti-11 {
  position: absolute;
  top: -64px;
  left: 68%;
  background-color: #e74c3c;
  width: 5px;
  height: 10px;
  transform: rotation(86deg);
  -webkit-animation-name: confetti-animation-11;
          animation-name: confetti-animation-11;
  -webkit-animation-duration: 1.70585s;
          animation-duration: 1.70585s;
  -webkit-animation-delay: 1.00505s;
          animation-delay: 1.00505s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-11 {
  to {
    top: calc(100% + 64px);
    left: 56%;
    transform: rotation(52deg); } }

@keyframes confetti-animation-11 {
  to {
    top: calc(100% + 64px);
    left: 56%;
    transform: rotation(52deg); } }

.confetti-12 {
  position: absolute;
  top: -64px;
  left: 20%;
  background-color: #9b59b6;
  width: 4.5px;
  height: 9px;
  transform: rotation(313deg);
  -webkit-animation-name: confetti-animation-12;
          animation-name: confetti-animation-12;
  -webkit-animation-duration: 2.68195s;
          animation-duration: 2.68195s;
  -webkit-animation-delay: 0.60313s;
          animation-delay: 0.60313s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-12 {
  to {
    top: calc(100% + 64px);
    left: 65%;
    transform: rotation(385deg); } }

@keyframes confetti-animation-12 {
  to {
    top: calc(100% + 64px);
    left: 65%;
    transform: rotation(385deg); } }

.confetti-13 {
  position: absolute;
  top: -64px;
  left: 2%;
  background-color: #f1c40f;
  width: 5px;
  height: 10px;
  transform: rotation(329deg);
  -webkit-animation-name: confetti-animation-13;
          animation-name: confetti-animation-13;
  -webkit-animation-duration: 1.74906s;
          animation-duration: 1.74906s;
  -webkit-animation-delay: 0.02783s;
          animation-delay: 0.02783s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-13 {
  to {
    top: calc(100% + 64px);
    left: -4%;
    transform: rotation(346deg); } }

@keyframes confetti-animation-13 {
  to {
    top: calc(100% + 64px);
    left: -4%;
    transform: rotation(346deg); } }

.confetti-14 {
  position: absolute;
  top: -64px;
  left: 38%;
  background-color: #9b59b6;
  width: 3.5px;
  height: 7px;
  transform: rotation(302deg);
  -webkit-animation-name: confetti-animation-14;
          animation-name: confetti-animation-14;
  -webkit-animation-duration: 1.27164s;
          animation-duration: 1.27164s;
  -webkit-animation-delay: 0.92298s;
          animation-delay: 0.92298s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-14 {
  to {
    top: calc(100% + 64px);
    left: 1%;
    transform: rotation(102deg); } }

@keyframes confetti-animation-14 {
  to {
    top: calc(100% + 64px);
    left: 1%;
    transform: rotation(102deg); } }

.confetti-15 {
  position: absolute;
  top: -64px;
  left: 90%;
  background-color: #e74c3c;
  width: 3.5px;
  height: 7px;
  transform: rotation(608deg);
  -webkit-animation-name: confetti-animation-15;
          animation-name: confetti-animation-15;
  -webkit-animation-duration: 1.72865s;
          animation-duration: 1.72865s;
  -webkit-animation-delay: 0.71389s;
          animation-delay: 0.71389s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-15 {
  to {
    top: calc(100% + 64px);
    left: 69%;
    transform: rotation(255deg); } }

@keyframes confetti-animation-15 {
  to {
    top: calc(100% + 64px);
    left: 69%;
    transform: rotation(255deg); } }

.confetti-16 {
  position: absolute;
  top: -64px;
  left: 30%;
  background-color: #f1c40f;
  width: 3px;
  height: 6px;
  transform: rotation(709deg);
  -webkit-animation-name: confetti-animation-16;
          animation-name: confetti-animation-16;
  -webkit-animation-duration: 1.70996s;
          animation-duration: 1.70996s;
  -webkit-animation-delay: 0.23422s;
          animation-delay: 0.23422s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-16 {
  to {
    top: calc(100% + 64px);
    left: 94%;
    transform: rotation(323deg); } }

@keyframes confetti-animation-16 {
  to {
    top: calc(100% + 64px);
    left: 94%;
    transform: rotation(323deg); } }

.confetti-17 {
  position: absolute;
  top: -64px;
  left: 25%;
  background-color: #f1c40f;
  width: 3px;
  height: 6px;
  transform: rotation(458deg);
  -webkit-animation-name: confetti-animation-17;
          animation-name: confetti-animation-17;
  -webkit-animation-duration: 1.19627s;
          animation-duration: 1.19627s;
  -webkit-animation-delay: 1.3585s;
          animation-delay: 1.3585s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-17 {
  to {
    top: calc(100% + 64px);
    left: 84%;
    transform: rotation(396deg); } }

@keyframes confetti-animation-17 {
  to {
    top: calc(100% + 64px);
    left: 84%;
    transform: rotation(396deg); } }

.confetti-18 {
  position: absolute;
  top: -64px;
  left: 105%;
  background-color: #e74c3c;
  width: 5px;
  height: 10px;
  transform: rotation(314deg);
  -webkit-animation-name: confetti-animation-18;
          animation-name: confetti-animation-18;
  -webkit-animation-duration: 2.12709s;
          animation-duration: 2.12709s;
  -webkit-animation-delay: 0.43165s;
          animation-delay: 0.43165s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-18 {
  to {
    top: calc(100% + 64px);
    left: 108%;
    transform: rotation(713deg); } }

@keyframes confetti-animation-18 {
  to {
    top: calc(100% + 64px);
    left: 108%;
    transform: rotation(713deg); } }

.confetti-19 {
  position: absolute;
  top: -64px;
  left: 15%;
  background-color: #3498db;
  width: 3.5px;
  height: 7px;
  transform: rotation(272deg);
  -webkit-animation-name: confetti-animation-19;
          animation-name: confetti-animation-19;
  -webkit-animation-duration: 1.73919s;
          animation-duration: 1.73919s;
  -webkit-animation-delay: 0.76081s;
          animation-delay: 0.76081s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-19 {
  to {
    top: calc(100% + 64px);
    left: -14%;
    transform: rotation(315deg); } }

@keyframes confetti-animation-19 {
  to {
    top: calc(100% + 64px);
    left: -14%;
    transform: rotation(315deg); } }

.confetti-20 {
  position: absolute;
  top: -64px;
  left: 94%;
  background-color: #9b59b6;
  width: 3px;
  height: 6px;
  transform: rotation(681deg);
  -webkit-animation-name: confetti-animation-20;
          animation-name: confetti-animation-20;
  -webkit-animation-duration: 1.49918s;
          animation-duration: 1.49918s;
  -webkit-animation-delay: 0.08239s;
          animation-delay: 0.08239s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-20 {
  to {
    top: calc(100% + 64px);
    left: 78%;
    transform: rotation(702deg); } }

@keyframes confetti-animation-20 {
  to {
    top: calc(100% + 64px);
    left: 78%;
    transform: rotation(702deg); } }

.confetti-21 {
  position: absolute;
  top: -64px;
  left: 45%;
  background-color: #e74c3c;
  width: 3.5px;
  height: 7px;
  transform: rotation(89deg);
  -webkit-animation-name: confetti-animation-21;
          animation-name: confetti-animation-21;
  -webkit-animation-duration: 1.14705s;
          animation-duration: 1.14705s;
  -webkit-animation-delay: 1.07669s;
          animation-delay: 1.07669s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-21 {
  to {
    top: calc(100% + 64px);
    left: 40%;
    transform: rotation(514deg); } }

@keyframes confetti-animation-21 {
  to {
    top: calc(100% + 64px);
    left: 40%;
    transform: rotation(514deg); } }

.confetti-22 {
  position: absolute;
  top: -64px;
  left: 73%;
  background-color: #3498db;
  width: 5px;
  height: 10px;
  transform: rotation(235deg);
  -webkit-animation-name: confetti-animation-22;
          animation-name: confetti-animation-22;
  -webkit-animation-duration: 1.79669s;
          animation-duration: 1.79669s;
  -webkit-animation-delay: 0.98144s;
          animation-delay: 0.98144s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-22 {
  to {
    top: calc(100% + 64px);
    left: -7%;
    transform: rotation(161deg); } }

@keyframes confetti-animation-22 {
  to {
    top: calc(100% + 64px);
    left: -7%;
    transform: rotation(161deg); } }

.confetti-23 {
  position: absolute;
  top: -64px;
  left: 9%;
  background-color: #f1c40f;
  width: 4.5px;
  height: 9px;
  transform: rotation(31deg);
  -webkit-animation-name: confetti-animation-23;
          animation-name: confetti-animation-23;
  -webkit-animation-duration: 2.6106s;
          animation-duration: 2.6106s;
  -webkit-animation-delay: 0.47311s;
          animation-delay: 0.47311s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-23 {
  to {
    top: calc(100% + 64px);
    left: 25%;
    transform: rotation(234deg); } }

@keyframes confetti-animation-23 {
  to {
    top: calc(100% + 64px);
    left: 25%;
    transform: rotation(234deg); } }

.confetti-24 {
  position: absolute;
  top: -64px;
  left: 78%;
  background-color: #9b59b6;
  width: 3.5px;
  height: 7px;
  transform: rotation(29deg);
  -webkit-animation-name: confetti-animation-24;
          animation-name: confetti-animation-24;
  -webkit-animation-duration: 1.59921s;
          animation-duration: 1.59921s;
  -webkit-animation-delay: 0.6414s;
          animation-delay: 0.6414s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-24 {
  to {
    top: calc(100% + 64px);
    left: 86%;
    transform: rotation(64deg); } }

@keyframes confetti-animation-24 {
  to {
    top: calc(100% + 64px);
    left: 86%;
    transform: rotation(64deg); } }

.confetti-25 {
  position: absolute;
  top: -64px;
  left: -21%;
  background-color: #e74c3c;
  width: 4px;
  height: 8px;
  transform: rotation(399deg);
  -webkit-animation-name: confetti-animation-25;
          animation-name: confetti-animation-25;
  -webkit-animation-duration: 1.5528s;
          animation-duration: 1.5528s;
  -webkit-animation-delay: 0.4109s;
          animation-delay: 0.4109s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-25 {
  to {
    top: calc(100% + 64px);
    left: 60%;
    transform: rotation(600deg); } }

@keyframes confetti-animation-25 {
  to {
    top: calc(100% + 64px);
    left: 60%;
    transform: rotation(600deg); } }

.confetti-26 {
  position: absolute;
  top: -64px;
  left: 45%;
  background-color: #9b59b6;
  width: 3.5px;
  height: 7px;
  transform: rotation(345deg);
  -webkit-animation-name: confetti-animation-26;
          animation-name: confetti-animation-26;
  -webkit-animation-duration: 2.62501s;
          animation-duration: 2.62501s;
  -webkit-animation-delay: 1.01545s;
          animation-delay: 1.01545s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-26 {
  to {
    top: calc(100% + 64px);
    left: 32%;
    transform: rotation(178deg); } }

@keyframes confetti-animation-26 {
  to {
    top: calc(100% + 64px);
    left: 32%;
    transform: rotation(178deg); } }

.confetti-27 {
  position: absolute;
  top: -64px;
  left: 50%;
  background-color: #3498db;
  width: 5px;
  height: 10px;
  transform: rotation(57deg);
  -webkit-animation-name: confetti-animation-27;
          animation-name: confetti-animation-27;
  -webkit-animation-duration: 2.79704s;
          animation-duration: 2.79704s;
  -webkit-animation-delay: 0.38688s;
          animation-delay: 0.38688s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-27 {
  to {
    top: calc(100% + 64px);
    left: 94%;
    transform: rotation(137deg); } }

@keyframes confetti-animation-27 {
  to {
    top: calc(100% + 64px);
    left: 94%;
    transform: rotation(137deg); } }

.confetti-28 {
  position: absolute;
  top: -64px;
  left: 123%;
  background-color: #9b59b6;
  width: 3.5px;
  height: 7px;
  transform: rotation(80deg);
  -webkit-animation-name: confetti-animation-28;
          animation-name: confetti-animation-28;
  -webkit-animation-duration: 1.37143s;
          animation-duration: 1.37143s;
  -webkit-animation-delay: 1.07049s;
          animation-delay: 1.07049s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-28 {
  to {
    top: calc(100% + 64px);
    left: 114%;
    transform: rotation(244deg); } }

@keyframes confetti-animation-28 {
  to {
    top: calc(100% + 64px);
    left: 114%;
    transform: rotation(244deg); } }

.confetti-29 {
  position: absolute;
  top: -64px;
  left: 11%;
  background-color: #9b59b6;
  width: 4px;
  height: 8px;
  transform: rotation(666deg);
  -webkit-animation-name: confetti-animation-29;
          animation-name: confetti-animation-29;
  -webkit-animation-duration: 1.21962s;
          animation-duration: 1.21962s;
  -webkit-animation-delay: 0.20508s;
          animation-delay: 0.20508s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-29 {
  to {
    top: calc(100% + 64px);
    left: 7%;
    transform: rotation(147deg); } }

@keyframes confetti-animation-29 {
  to {
    top: calc(100% + 64px);
    left: 7%;
    transform: rotation(147deg); } }

.confetti-30 {
  position: absolute;
  top: -64px;
  left: 44%;
  background-color: #3498db;
  width: 4.5px;
  height: 9px;
  transform: rotation(325deg);
  -webkit-animation-name: confetti-animation-30;
          animation-name: confetti-animation-30;
  -webkit-animation-duration: 1.42224s;
          animation-duration: 1.42224s;
  -webkit-animation-delay: 1.49528s;
          animation-delay: 1.49528s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-30 {
  to {
    top: calc(100% + 64px);
    left: 24%;
    transform: rotation(120deg); } }

@keyframes confetti-animation-30 {
  to {
    top: calc(100% + 64px);
    left: 24%;
    transform: rotation(120deg); } }

.confetti-31 {
  position: absolute;
  top: -64px;
  left: 61%;
  background-color: #3498db;
  width: 4px;
  height: 8px;
  transform: rotation(106deg);
  -webkit-animation-name: confetti-animation-31;
          animation-name: confetti-animation-31;
  -webkit-animation-duration: 1.38007s;
          animation-duration: 1.38007s;
  -webkit-animation-delay: 0.33339s;
          animation-delay: 0.33339s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-31 {
  to {
    top: calc(100% + 64px);
    left: 21%;
    transform: rotation(497deg); } }

@keyframes confetti-animation-31 {
  to {
    top: calc(100% + 64px);
    left: 21%;
    transform: rotation(497deg); } }

.confetti-32 {
  position: absolute;
  top: -64px;
  left: 123%;
  background-color: #f1c40f;
  width: 5px;
  height: 10px;
  transform: rotation(579deg);
  -webkit-animation-name: confetti-animation-32;
          animation-name: confetti-animation-32;
  -webkit-animation-duration: 1.66415s;
          animation-duration: 1.66415s;
  -webkit-animation-delay: 0.33055s;
          animation-delay: 0.33055s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-32 {
  to {
    top: calc(100% + 64px);
    left: 42%;
    transform: rotation(70deg); } }

@keyframes confetti-animation-32 {
  to {
    top: calc(100% + 64px);
    left: 42%;
    transform: rotation(70deg); } }

.confetti-33 {
  position: absolute;
  top: -64px;
  left: 117%;
  background-color: #3498db;
  width: 5px;
  height: 10px;
  transform: rotation(89deg);
  -webkit-animation-name: confetti-animation-33;
          animation-name: confetti-animation-33;
  -webkit-animation-duration: 1.8038s;
          animation-duration: 1.8038s;
  -webkit-animation-delay: 1.10602s;
          animation-delay: 1.10602s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-33 {
  to {
    top: calc(100% + 64px);
    left: 25%;
    transform: rotation(430deg); } }

@keyframes confetti-animation-33 {
  to {
    top: calc(100% + 64px);
    left: 25%;
    transform: rotation(430deg); } }

.confetti-34 {
  position: absolute;
  top: -64px;
  left: 59%;
  background-color: #3498db;
  width: 3.5px;
  height: 7px;
  transform: rotation(281deg);
  -webkit-animation-name: confetti-animation-34;
          animation-name: confetti-animation-34;
  -webkit-animation-duration: 1.66431s;
          animation-duration: 1.66431s;
  -webkit-animation-delay: 1.01068s;
          animation-delay: 1.01068s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-34 {
  to {
    top: calc(100% + 64px);
    left: 56%;
    transform: rotation(90deg); } }

@keyframes confetti-animation-34 {
  to {
    top: calc(100% + 64px);
    left: 56%;
    transform: rotation(90deg); } }

.confetti-35 {
  position: absolute;
  top: -64px;
  left: 62%;
  background-color: #3498db;
  width: 4.5px;
  height: 9px;
  transform: rotation(8deg);
  -webkit-animation-name: confetti-animation-35;
          animation-name: confetti-animation-35;
  -webkit-animation-duration: 1.74461s;
          animation-duration: 1.74461s;
  -webkit-animation-delay: 1.37775s;
          animation-delay: 1.37775s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-35 {
  to {
    top: calc(100% + 64px);
    left: 18%;
    transform: rotation(654deg); } }

@keyframes confetti-animation-35 {
  to {
    top: calc(100% + 64px);
    left: 18%;
    transform: rotation(654deg); } }

.confetti-36 {
  position: absolute;
  top: -64px;
  left: -5%;
  background-color: #f1c40f;
  width: 5px;
  height: 10px;
  transform: rotation(159deg);
  -webkit-animation-name: confetti-animation-36;
          animation-name: confetti-animation-36;
  -webkit-animation-duration: 2.7663s;
          animation-duration: 2.7663s;
  -webkit-animation-delay: 0.31243s;
          animation-delay: 0.31243s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-36 {
  to {
    top: calc(100% + 64px);
    left: 122%;
    transform: rotation(715deg); } }

@keyframes confetti-animation-36 {
  to {
    top: calc(100% + 64px);
    left: 122%;
    transform: rotation(715deg); } }

.confetti-37 {
  position: absolute;
  top: -64px;
  left: 12%;
  background-color: #3498db;
  width: 4px;
  height: 8px;
  transform: rotation(117deg);
  -webkit-animation-name: confetti-animation-37;
          animation-name: confetti-animation-37;
  -webkit-animation-duration: 1.40878s;
          animation-duration: 1.40878s;
  -webkit-animation-delay: 0.91799s;
          animation-delay: 0.91799s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-37 {
  to {
    top: calc(100% + 64px);
    left: 17%;
    transform: rotation(25deg); } }

@keyframes confetti-animation-37 {
  to {
    top: calc(100% + 64px);
    left: 17%;
    transform: rotation(25deg); } }

.confetti-38 {
  position: absolute;
  top: -64px;
  left: 0%;
  background-color: #e74c3c;
  width: 4px;
  height: 8px;
  transform: rotation(490deg);
  -webkit-animation-name: confetti-animation-38;
          animation-name: confetti-animation-38;
  -webkit-animation-duration: 1.85916s;
          animation-duration: 1.85916s;
  -webkit-animation-delay: 1.0774s;
          animation-delay: 1.0774s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-38 {
  to {
    top: calc(100% + 64px);
    left: 38%;
    transform: rotation(33deg); } }

@keyframes confetti-animation-38 {
  to {
    top: calc(100% + 64px);
    left: 38%;
    transform: rotation(33deg); } }

.confetti-39 {
  position: absolute;
  top: -64px;
  left: 75%;
  background-color: #3498db;
  width: 3.5px;
  height: 7px;
  transform: rotation(62deg);
  -webkit-animation-name: confetti-animation-39;
          animation-name: confetti-animation-39;
  -webkit-animation-duration: 2.81406s;
          animation-duration: 2.81406s;
  -webkit-animation-delay: 1.4529s;
          animation-delay: 1.4529s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-39 {
  to {
    top: calc(100% + 64px);
    left: 96%;
    transform: rotation(322deg); } }

@keyframes confetti-animation-39 {
  to {
    top: calc(100% + 64px);
    left: 96%;
    transform: rotation(322deg); } }

.confetti-40 {
  position: absolute;
  top: -64px;
  left: 58%;
  background-color: #3498db;
  width: 3px;
  height: 6px;
  transform: rotation(180deg);
  -webkit-animation-name: confetti-animation-40;
          animation-name: confetti-animation-40;
  -webkit-animation-duration: 2.18104s;
          animation-duration: 2.18104s;
  -webkit-animation-delay: 0.2545s;
          animation-delay: 0.2545s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-40 {
  to {
    top: calc(100% + 64px);
    left: 87%;
    transform: rotation(347deg); } }

@keyframes confetti-animation-40 {
  to {
    top: calc(100% + 64px);
    left: 87%;
    transform: rotation(347deg); } }

.confetti-41 {
  position: absolute;
  top: -64px;
  left: 105%;
  background-color: #3498db;
  width: 3.5px;
  height: 7px;
  transform: rotation(528deg);
  -webkit-animation-name: confetti-animation-41;
          animation-name: confetti-animation-41;
  -webkit-animation-duration: 2.23538s;
          animation-duration: 2.23538s;
  -webkit-animation-delay: 0.93524s;
          animation-delay: 0.93524s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-41 {
  to {
    top: calc(100% + 64px);
    left: 113%;
    transform: rotation(227deg); } }

@keyframes confetti-animation-41 {
  to {
    top: calc(100% + 64px);
    left: 113%;
    transform: rotation(227deg); } }

.confetti-42 {
  position: absolute;
  top: -64px;
  left: 42%;
  background-color: #f1c40f;
  width: 5px;
  height: 10px;
  transform: rotation(377deg);
  -webkit-animation-name: confetti-animation-42;
          animation-name: confetti-animation-42;
  -webkit-animation-duration: 2.19558s;
          animation-duration: 2.19558s;
  -webkit-animation-delay: 0.41311s;
          animation-delay: 0.41311s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-42 {
  to {
    top: calc(100% + 64px);
    left: 9%;
    transform: rotation(703deg); } }

@keyframes confetti-animation-42 {
  to {
    top: calc(100% + 64px);
    left: 9%;
    transform: rotation(703deg); } }

.confetti-43 {
  position: absolute;
  top: -64px;
  left: 41%;
  background-color: #e74c3c;
  width: 5px;
  height: 10px;
  transform: rotation(684deg);
  -webkit-animation-name: confetti-animation-43;
          animation-name: confetti-animation-43;
  -webkit-animation-duration: 2.41365s;
          animation-duration: 2.41365s;
  -webkit-animation-delay: 0.87411s;
          animation-delay: 0.87411s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-43 {
  to {
    top: calc(100% + 64px);
    left: -12%;
    transform: rotation(101deg); } }

@keyframes confetti-animation-43 {
  to {
    top: calc(100% + 64px);
    left: -12%;
    transform: rotation(101deg); } }

.confetti-44 {
  position: absolute;
  top: -64px;
  left: 111%;
  background-color: #9b59b6;
  width: 3.5px;
  height: 7px;
  transform: rotation(160deg);
  -webkit-animation-name: confetti-animation-44;
          animation-name: confetti-animation-44;
  -webkit-animation-duration: 2.75297s;
          animation-duration: 2.75297s;
  -webkit-animation-delay: 0.59407s;
          animation-delay: 0.59407s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-44 {
  to {
    top: calc(100% + 64px);
    left: -10%;
    transform: rotation(545deg); } }

@keyframes confetti-animation-44 {
  to {
    top: calc(100% + 64px);
    left: -10%;
    transform: rotation(545deg); } }

.confetti-45 {
  position: absolute;
  top: -64px;
  left: 72%;
  background-color: #e74c3c;
  width: 5px;
  height: 10px;
  transform: rotation(404deg);
  -webkit-animation-name: confetti-animation-45;
          animation-name: confetti-animation-45;
  -webkit-animation-duration: 1.50322s;
          animation-duration: 1.50322s;
  -webkit-animation-delay: 0.36009s;
          animation-delay: 0.36009s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-45 {
  to {
    top: calc(100% + 64px);
    left: 12%;
    transform: rotation(602deg); } }

@keyframes confetti-animation-45 {
  to {
    top: calc(100% + 64px);
    left: 12%;
    transform: rotation(602deg); } }

.confetti-46 {
  position: absolute;
  top: -64px;
  left: 119%;
  background-color: #f1c40f;
  width: 5px;
  height: 10px;
  transform: rotation(500deg);
  -webkit-animation-name: confetti-animation-46;
          animation-name: confetti-animation-46;
  -webkit-animation-duration: 1.89228s;
          animation-duration: 1.89228s;
  -webkit-animation-delay: 0.13537s;
          animation-delay: 0.13537s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-46 {
  to {
    top: calc(100% + 64px);
    left: -14%;
    transform: rotation(423deg); } }

@keyframes confetti-animation-46 {
  to {
    top: calc(100% + 64px);
    left: -14%;
    transform: rotation(423deg); } }

.confetti-47 {
  position: absolute;
  top: -64px;
  left: 0%;
  background-color: #f1c40f;
  width: 4.5px;
  height: 9px;
  transform: rotation(557deg);
  -webkit-animation-name: confetti-animation-47;
          animation-name: confetti-animation-47;
  -webkit-animation-duration: 2.99092s;
          animation-duration: 2.99092s;
  -webkit-animation-delay: 0.07017s;
          animation-delay: 0.07017s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-47 {
  to {
    top: calc(100% + 64px);
    left: 19%;
    transform: rotation(214deg); } }

@keyframes confetti-animation-47 {
  to {
    top: calc(100% + 64px);
    left: 19%;
    transform: rotation(214deg); } }

.confetti-48 {
  position: absolute;
  top: -64px;
  left: -17%;
  background-color: #9b59b6;
  width: 5px;
  height: 10px;
  transform: rotation(439deg);
  -webkit-animation-name: confetti-animation-48;
          animation-name: confetti-animation-48;
  -webkit-animation-duration: 1.6017s;
          animation-duration: 1.6017s;
  -webkit-animation-delay: 1.44546s;
          animation-delay: 1.44546s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-48 {
  to {
    top: calc(100% + 64px);
    left: 69%;
    transform: rotation(8deg); } }

@keyframes confetti-animation-48 {
  to {
    top: calc(100% + 64px);
    left: 69%;
    transform: rotation(8deg); } }

.confetti-49 {
  position: absolute;
  top: -64px;
  left: 7%;
  background-color: #3498db;
  width: 4.5px;
  height: 9px;
  transform: rotation(81deg);
  -webkit-animation-name: confetti-animation-49;
          animation-name: confetti-animation-49;
  -webkit-animation-duration: 1.27834s;
          animation-duration: 1.27834s;
  -webkit-animation-delay: 0.82063s;
          animation-delay: 0.82063s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-49 {
  to {
    top: calc(100% + 64px);
    left: 116%;
    transform: rotation(401deg); } }

@keyframes confetti-animation-49 {
  to {
    top: calc(100% + 64px);
    left: 116%;
    transform: rotation(401deg); } }

.confetti-50 {
  position: absolute;
  top: -64px;
  left: 12%;
  background-color: #9b59b6;
  width: 3px;
  height: 6px;
  transform: rotation(264deg);
  -webkit-animation-name: confetti-animation-50;
          animation-name: confetti-animation-50;
  -webkit-animation-duration: 1.46682s;
          animation-duration: 1.46682s;
  -webkit-animation-delay: 1.35685s;
          animation-delay: 1.35685s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-50 {
  to {
    top: calc(100% + 64px);
    left: 108%;
    transform: rotation(501deg); } }

@keyframes confetti-animation-50 {
  to {
    top: calc(100% + 64px);
    left: 108%;
    transform: rotation(501deg); } }

.container, .announcement, h1.section-title, .work-experience-container, .work-experience-container .work-experience-item {
  width: 1200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-sizing: border-box;
  padding: 32px;
  margin-bottom: 32px; }

footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #2c3e50; }
  footer .container, footer .announcement, footer h1.section-title, footer .work-experience-container, footer .work-experience-container .work-experience-item, .work-experience-container footer .work-experience-item {
    margin-bottom: 0; }
  footer .lateral-view {
    padding: 0;
    margin: 0; }
  footer h3 {
    margin-bottom: 0; }
  footer ul {
    margin-top: 0.5em; }
  footer li {
    margin-top: 0; }

header.header-dance {
  background-color: white;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); }
  @media screen and (max-width: 780px) {
    header.header-dance {
      position: relative;
      overflow-x: hidden; } }
  header.header-dance .container, header.header-dance .announcement, header.header-dance h1.section-title, header.header-dance .work-experience-container, header.header-dance .work-experience-container .work-experience-item, .work-experience-container header.header-dance .work-experience-item {
    margin-top: 0;
    padding-top: 0;
    background-color: transparent; }
  header.header-dance img {
    margin-bottom: -35px; }
    @media screen and (max-width: 780px) {
      header.header-dance img {
        margin-bottom: 0;
        height: 150px; } }
  header.header-dance .lateral-primary {
    padding-bottom: 32px; }
    header.header-dance .lateral-primary p {
      max-width: 600px; }
  header.header-dance .lateral-secondary {
    align-items: flex-end;
    position: relative; }
    @media screen and (max-width: 780px) {
      header.header-dance .lateral-secondary {
        align-self: stretch; } }
  header.header-dance.dance-started {
    -webkit-animation-name: party-colors;
            animation-name: party-colors;
    -webkit-animation-duration: 10000ms;
            animation-duration: 10000ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; }
    header.header-dance.dance-started .content {
      -webkit-animation-name: wavy-text;
              animation-name: wavy-text;
      -webkit-animation-duration: 2000ms;
              animation-duration: 2000ms;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
              animation-direction: alternate; }
    header.header-dance.dance-started img {
      -webkit-animation-name: andrey-dance;
              animation-name: andrey-dance;
      -webkit-animation-duration: 2000ms;
              animation-duration: 2000ms;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear; }
    header.header-dance.dance-started .splash-content {
      background-color: transparent; }
  header.header-dance.dance-not-started {
    -webkit-animation-name: header-slide-in;
            animation-name: header-slide-in;
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1; }
    header.header-dance.dance-not-started img {
      -webkit-animation-name: icon-slide-in;
              animation-name: icon-slide-in;
      -webkit-animation-duration: 1000ms;
              animation-duration: 1000ms;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
  header.header-dance.dance-loading img {
    margin-left: -100vw;
    -webkit-animation-play-state: paused;
            animation-play-state: paused; }

.header-clipped {
  background-color: white;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); }
  .header-clipped .lateral-view {
    margin-top: 0;
    padding-top: 0; }

@media screen and (max-width: 780px) {
  @-webkit-keyframes header-slide-in {
    0% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
              clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%); }
    75% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    100% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 90%);
              clip-path: polygon(0 0, 100% 0, 100% 95%, 0 90%); } }
  @keyframes header-slide-in {
    0% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
              clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%); }
    75% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    100% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 90%);
              clip-path: polygon(0 0, 100% 0, 100% 95%, 0 90%); } } }

@media screen and (min-width: 781px) {
  @-webkit-keyframes header-slide-in {
    0% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
              clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%); }
    75% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    100% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); } }
  @keyframes header-slide-in {
    0% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
              clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%); }
    75% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    100% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); } } }

@media screen and (max-width: 780px) {
  @-webkit-keyframes icon-slide-in {
    0% {
      transform: translateX(-150%) rotate(-45deg); }
    90% {
      transform: translateX(10%) rotate(15deg); }
    100% {
      transform: translateX(0%); } }
  @keyframes icon-slide-in {
    0% {
      transform: translateX(-150%) rotate(-45deg); }
    90% {
      transform: translateX(10%) rotate(15deg); }
    100% {
      transform: translateX(0%); } } }

@media screen and (min-width: 781px) {
  @-webkit-keyframes icon-slide-in {
    0% {
      transform: translateY(100%); }
    50% {
      transform: translateY(80%); }
    100% {
      transform: translateY(0%); } }
  @keyframes icon-slide-in {
    0% {
      transform: translateY(100%); }
    50% {
      transform: translateY(80%); }
    100% {
      transform: translateY(0%); } } }

.container > .lateral-view, .announcement > .lateral-view, h1.section-title > .lateral-view, .work-experience-container > .lateral-view, .work-experience-container .work-experience-item > .lateral-view {
  padding: 0; }
  .container > .lateral-view:first-of-type, .announcement > .lateral-view:first-of-type, h1.section-title > .lateral-view:first-of-type, .work-experience-container > .lateral-view:first-of-type, .work-experience-container .work-experience-item > .lateral-view:first-of-type {
    margin-top: 0; }
  .container > .lateral-view:last-of-type, .announcement > .lateral-view:last-of-type, h1.section-title > .lateral-view:last-of-type, .work-experience-container > .lateral-view:last-of-type, .work-experience-container .work-experience-item > .lateral-view:last-of-type {
    margin-bottom: 0; }

.lateral-view {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 32px; }
  .lateral-view .lateral-secondary {
    display: flex;
    justify-content: center;
    align-items: center; }
    .lateral-view .lateral-secondary img {
      max-width: 350px; }
  .lateral-view.alt {
    flex-direction: row-reverse; }
    .lateral-view.alt .lateral-primary {
      padding-right: 32px; }
  .lateral-view:not(.alt) .lateral-primary {
    padding-left: 32px; }
  .lateral-view .lateral-primary {
    flex: 1; }
  @media screen and (max-width: 780px) {
    .lateral-view, .lateral-view.alt {
      flex-direction: column; }
    .lateral-view.alt .lateral-primary {
      padding-right: 0; }
    .lateral-view:not(.alt) .lateral-primary {
      padding-left: 0; } }

ul.links-collection {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 1.1em;
  list-style-type: none; }
  ul.links-collection a {
    font-size: 0.8em; }
  ul.links-collection li {
    line-height: 1em;
    margin-top: 0; }

nav {
  background-color: white;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none; }
  nav::-webkit-scrollbar {
    display: none; }
  nav .container, nav .announcement, nav h1.section-title, nav .work-experience-container, nav .work-experience-container .work-experience-item, .work-experience-container nav .work-experience-item {
    margin-bottom: 0;
    background-color: transparent; }
  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      margin: 0;
      margin-left: 24px;
      padding: 0; }
      nav ul li a {
        color: black;
        text-decoration: none; }
        nav ul li a:hover {
          color: black;
          text-decoration: underline; }

h1.section-title {
  margin-top: 1em;
  background-color: transparent;
  font-size: 3em; }

.work-experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
  padding: 0; }
  @media screen and (max-width: 780px) {
    .work-experience-container {
      flex-direction: column; } }
  .work-experience-container .work-experience-item {
    margin-left: 0;
    margin-right: 0;
    background-color: white;
    flex: 0 0 calc(50% - 16px); }
    .work-experience-container .work-experience-item img {
      max-width: 200px;
      margin-bottom: 32px; }
    .work-experience-container .work-experience-item img,
    .work-experience-container .work-experience-item button {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .work-experience-container .work-experience-item h2 {
      margin-top: 0;
      margin-bottom: 0; }
    .work-experience-container .work-experience-item h3 {
      margin-top: 0;
      font-size: 1em;
      font-weight: normal; }
    .work-experience-container .work-experience-item ul {
      transition: 250ms max-height; }
    .work-experience-container .work-experience-item.minimized ul {
      max-height: 0;
      overflow: hidden; }
    .work-experience-container .work-experience-item:not(.minimized) ul {
      max-height: 999px; }

.work-page .lateral-view {
  align-items: flex-start; }
  .work-page .lateral-view .lateral-secondary {
    width: 300px; }
    .work-page .lateral-view .lateral-secondary img {
      max-width: 250px;
      margin-bottom: 16px; }

.work-page .button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 48px;
  text-align: center; }
  .work-page .button-container > * {
    flex: 1;
    margin: 0; }
  @media screen and (max-width: 780px) {
    .work-page .button-container {
      flex-direction: column; } }

.work-page li {
  margin-top: 0.25em; }

.work-page h2 {
  margin-top: 0;
  margin-bottom: 0; }

.work-page h3 {
  margin-top: 0;
  font-size: 1em;
  font-weight: normal; }
