@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:700&display=swap");
@-webkit-keyframes party-colors {
  0% {
    background-color: white; }
  10% {
    background-color: #ff240088; }
  20% {
    background-color: #e81d1d88; }
  30% {
    background-color: #e8b71d88; }
  40% {
    background-color: #e3e81d88; }
  50% {
    background-color: #1de84088; }
  60% {
    background-color: #1ddde888; }
  70% {
    background-color: #dd00f388; }
  80% {
    background-color: #dd00f388; }
  100% {
    background-color: #ff240088; } }
@keyframes party-colors {
  0% {
    background-color: white; }
  10% {
    background-color: #ff240088; }
  20% {
    background-color: #e81d1d88; }
  30% {
    background-color: #e8b71d88; }
  40% {
    background-color: #e3e81d88; }
  50% {
    background-color: #1de84088; }
  60% {
    background-color: #1ddde888; }
  70% {
    background-color: #dd00f388; }
  80% {
    background-color: #dd00f388; }
  100% {
    background-color: #ff240088; } }

@media screen and (max-width: 780px) {
  @-webkit-keyframes andrey-dance {
    0% {
      transform: translateY(0px); }
    25% {
      transform: rotate(-15deg) translateX(-40px) translateY(-20px); }
    50% {
      transform: translateY(0px); }
    75% {
      transform: rotate(15deg) translateX(40px) translateY(-20px); }
    100% {
      transform: translateY(0px); } }
  @keyframes andrey-dance {
    0% {
      transform: translateY(0px); }
    25% {
      transform: rotate(-15deg) translateX(-40px) translateY(-20px); }
    50% {
      transform: translateY(0px); }
    75% {
      transform: rotate(15deg) translateX(40px) translateY(-20px); }
    100% {
      transform: translateY(0px); } } }

@media screen and (min-width: 781px) {
  @-webkit-keyframes andrey-dance {
    0% {
      transform: translateY(20px); }
    25% {
      transform: rotate(-15deg) translateX(-40px); }
    50% {
      transform: translateY(20px); }
    75% {
      transform: rotate(15deg) translateX(40px); }
    100% {
      transform: translateY(20px); } }
  @keyframes andrey-dance {
    0% {
      transform: translateY(20px); }
    25% {
      transform: rotate(-15deg) translateX(-40px); }
    50% {
      transform: translateY(20px); }
    75% {
      transform: rotate(15deg) translateX(40px); }
    100% {
      transform: translateY(20px); } } }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #dfe6e9;
  font-size: 21px;
  padding: 0;
  margin: 0; }

p, li {
  line-height: 1.6em;
  margin-top: 1em; }
  p:first-of-type, li:first-of-type {
    margin-top: 0; }
  p:last-of-type, li:last-of-type {
    margin-bottom: 0; }

h1, h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  margin-bottom: 1rem; }

h1.no-margin-top, h2.no-margin-top, h3.no-margin-top, h4.no-margin-top, h5.no-margin-top, h6.no-margin-top {
  margin-top: 0; }

hr {
  border: 0;
  height: 1px;
  background: linear-gradient(to left, transparent, #8c8b8b, transparent); }

a {
  color: #0984e3; }
  a:hover {
    color: #74b9ff; }

a.lowviz {
  color: inherit;
  text-decoration: none; }
  a.lowviz:hover {
    color: #0984e3;
    text-decoration: underline; }

.hidden {
  display: none; }

.announcement p:last-of-type {
  margin-bottom: 0; }

button,
.button,
ul.links-collection a,
ul.links-collection li:first-of-type a {
  cursor: pointer;
  display: block;
  padding: 8px 16px;
  border-radius: 8px;
  margin-right: 8px;
  transition: 250ms color, 250ms background-color;
  background-color: transparent;
  border: 0; }
  button.bare,
  .button.bare,
  ul.links-collection a,
  ul.links-collection li:first-of-type a {
    color: #0984e3; }
    button.bare:hover,
    .button.bare:hover,
    ul.links-collection a:hover,
    ul.links-collection li:first-of-type a:hover {
      color: #74b9ff; }
  button.primary,
  .button.primary,
  ul.links-collection a.primary,
  ul.links-collection li:first-of-type a {
    background-color: #0984e3;
    color: white;
    text-decoration: none; }
    button.primary:hover,
    .button.primary:hover,
    ul.links-collection a.primary:hover,
    ul.links-collection li:first-of-type a:hover {
      background-color: #74b9ff; }
  button.primary-ghost,
  .button.primary-ghost,
  ul.links-collection a.primary-ghost,
  ul.links-collection li:first-of-type a.primary-ghost {
    border: 1px solid #0984e3;
    color: #0984e3;
    text-decoration: none; }
    button.primary-ghost:hover,
    .button.primary-ghost:hover,
    ul.links-collection a.primary-ghost:hover {
      border-color: #74b9ff;
      color: #74b9ff; }
  button.big,
  .button.big,
  ul.links-collection a.big,
  ul.links-collection li:first-of-type a.big {
    font-size: 1.5em;
    padding: 16px 24px; }
  button.text-center,
  .button.text-center,
  ul.links-collection a.text-center,
  ul.links-collection li:first-of-type a.text-center {
    text-align: center; }

.confetti-0 {
  position: absolute;
  top: -64px;
  left: -10%;
  background-color: #3498db;
  width: 4.5px;
  height: 9px;
  transform: rotation(381deg);
  -webkit-animation-name: confetti-animation-0;
          animation-name: confetti-animation-0;
  -webkit-animation-duration: 2.31645s;
          animation-duration: 2.31645s;
  -webkit-animation-delay: 1.33097s;
          animation-delay: 1.33097s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-0 {
  to {
    top: calc(100% + 64px);
    left: 81%;
    transform: rotation(118deg); } }

@keyframes confetti-animation-0 {
  to {
    top: calc(100% + 64px);
    left: 81%;
    transform: rotation(118deg); } }

.confetti-1 {
  position: absolute;
  top: -64px;
  left: 104%;
  background-color: #3498db;
  width: 5px;
  height: 10px;
  transform: rotation(30deg);
  -webkit-animation-name: confetti-animation-1;
          animation-name: confetti-animation-1;
  -webkit-animation-duration: 2.60248s;
          animation-duration: 2.60248s;
  -webkit-animation-delay: 1.32401s;
          animation-delay: 1.32401s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-1 {
  to {
    top: calc(100% + 64px);
    left: 99%;
    transform: rotation(610deg); } }

@keyframes confetti-animation-1 {
  to {
    top: calc(100% + 64px);
    left: 99%;
    transform: rotation(610deg); } }

.confetti-2 {
  position: absolute;
  top: -64px;
  left: 6%;
  background-color: #f1c40f;
  width: 3.5px;
  height: 7px;
  transform: rotation(581deg);
  -webkit-animation-name: confetti-animation-2;
          animation-name: confetti-animation-2;
  -webkit-animation-duration: 1.87863s;
          animation-duration: 1.87863s;
  -webkit-animation-delay: 0.84136s;
          animation-delay: 0.84136s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-2 {
  to {
    top: calc(100% + 64px);
    left: 115%;
    transform: rotation(713deg); } }

@keyframes confetti-animation-2 {
  to {
    top: calc(100% + 64px);
    left: 115%;
    transform: rotation(713deg); } }

.confetti-3 {
  position: absolute;
  top: -64px;
  left: 90%;
  background-color: #f1c40f;
  width: 4px;
  height: 8px;
  transform: rotation(668deg);
  -webkit-animation-name: confetti-animation-3;
          animation-name: confetti-animation-3;
  -webkit-animation-duration: 1.54766s;
          animation-duration: 1.54766s;
  -webkit-animation-delay: 1.05306s;
          animation-delay: 1.05306s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-3 {
  to {
    top: calc(100% + 64px);
    left: 79%;
    transform: rotation(584deg); } }

@keyframes confetti-animation-3 {
  to {
    top: calc(100% + 64px);
    left: 79%;
    transform: rotation(584deg); } }

.confetti-4 {
  position: absolute;
  top: -64px;
  left: 119%;
  background-color: #e74c3c;
  width: 4.5px;
  height: 9px;
  transform: rotation(335deg);
  -webkit-animation-name: confetti-animation-4;
          animation-name: confetti-animation-4;
  -webkit-animation-duration: 1.94624s;
          animation-duration: 1.94624s;
  -webkit-animation-delay: 0.57862s;
          animation-delay: 0.57862s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-4 {
  to {
    top: calc(100% + 64px);
    left: 94%;
    transform: rotation(171deg); } }

@keyframes confetti-animation-4 {
  to {
    top: calc(100% + 64px);
    left: 94%;
    transform: rotation(171deg); } }

.confetti-5 {
  position: absolute;
  top: -64px;
  left: 73%;
  background-color: #e74c3c;
  width: 3px;
  height: 6px;
  transform: rotation(581deg);
  -webkit-animation-name: confetti-animation-5;
          animation-name: confetti-animation-5;
  -webkit-animation-duration: 2.44137s;
          animation-duration: 2.44137s;
  -webkit-animation-delay: 0.9735s;
          animation-delay: 0.9735s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-5 {
  to {
    top: calc(100% + 64px);
    left: 79%;
    transform: rotation(705deg); } }

@keyframes confetti-animation-5 {
  to {
    top: calc(100% + 64px);
    left: 79%;
    transform: rotation(705deg); } }

.confetti-6 {
  position: absolute;
  top: -64px;
  left: 61%;
  background-color: #9b59b6;
  width: 3px;
  height: 6px;
  transform: rotation(349deg);
  -webkit-animation-name: confetti-animation-6;
          animation-name: confetti-animation-6;
  -webkit-animation-duration: 2.55168s;
          animation-duration: 2.55168s;
  -webkit-animation-delay: 0.00517s;
          animation-delay: 0.00517s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-6 {
  to {
    top: calc(100% + 64px);
    left: 0%;
    transform: rotation(152deg); } }

@keyframes confetti-animation-6 {
  to {
    top: calc(100% + 64px);
    left: 0%;
    transform: rotation(152deg); } }

.confetti-7 {
  position: absolute;
  top: -64px;
  left: 12%;
  background-color: #9b59b6;
  width: 3px;
  height: 6px;
  transform: rotation(670deg);
  -webkit-animation-name: confetti-animation-7;
          animation-name: confetti-animation-7;
  -webkit-animation-duration: 1.76866s;
          animation-duration: 1.76866s;
  -webkit-animation-delay: 0.58425s;
          animation-delay: 0.58425s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-7 {
  to {
    top: calc(100% + 64px);
    left: -17%;
    transform: rotation(393deg); } }

@keyframes confetti-animation-7 {
  to {
    top: calc(100% + 64px);
    left: -17%;
    transform: rotation(393deg); } }

.confetti-8 {
  position: absolute;
  top: -64px;
  left: 94%;
  background-color: #e74c3c;
  width: 4.5px;
  height: 9px;
  transform: rotation(379deg);
  -webkit-animation-name: confetti-animation-8;
          animation-name: confetti-animation-8;
  -webkit-animation-duration: 2.70797s;
          animation-duration: 2.70797s;
  -webkit-animation-delay: 1.37222s;
          animation-delay: 1.37222s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-8 {
  to {
    top: calc(100% + 64px);
    left: 5%;
    transform: rotation(527deg); } }

@keyframes confetti-animation-8 {
  to {
    top: calc(100% + 64px);
    left: 5%;
    transform: rotation(527deg); } }

.confetti-9 {
  position: absolute;
  top: -64px;
  left: 2%;
  background-color: #f1c40f;
  width: 4.5px;
  height: 9px;
  transform: rotation(546deg);
  -webkit-animation-name: confetti-animation-9;
          animation-name: confetti-animation-9;
  -webkit-animation-duration: 1.10885s;
          animation-duration: 1.10885s;
  -webkit-animation-delay: 0.04484s;
          animation-delay: 0.04484s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-9 {
  to {
    top: calc(100% + 64px);
    left: 25%;
    transform: rotation(247deg); } }

@keyframes confetti-animation-9 {
  to {
    top: calc(100% + 64px);
    left: 25%;
    transform: rotation(247deg); } }

.confetti-10 {
  position: absolute;
  top: -64px;
  left: 92%;
  background-color: #e74c3c;
  width: 4px;
  height: 8px;
  transform: rotation(456deg);
  -webkit-animation-name: confetti-animation-10;
          animation-name: confetti-animation-10;
  -webkit-animation-duration: 2.92842s;
          animation-duration: 2.92842s;
  -webkit-animation-delay: 0.04763s;
          animation-delay: 0.04763s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-10 {
  to {
    top: calc(100% + 64px);
    left: 118%;
    transform: rotation(170deg); } }

@keyframes confetti-animation-10 {
  to {
    top: calc(100% + 64px);
    left: 118%;
    transform: rotation(170deg); } }

.confetti-11 {
  position: absolute;
  top: -64px;
  left: 57%;
  background-color: #e74c3c;
  width: 5px;
  height: 10px;
  transform: rotation(484deg);
  -webkit-animation-name: confetti-animation-11;
          animation-name: confetti-animation-11;
  -webkit-animation-duration: 1.09805s;
          animation-duration: 1.09805s;
  -webkit-animation-delay: 0.14216s;
          animation-delay: 0.14216s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-11 {
  to {
    top: calc(100% + 64px);
    left: -5%;
    transform: rotation(319deg); } }

@keyframes confetti-animation-11 {
  to {
    top: calc(100% + 64px);
    left: -5%;
    transform: rotation(319deg); } }

.confetti-12 {
  position: absolute;
  top: -64px;
  left: 29%;
  background-color: #3498db;
  width: 3.5px;
  height: 7px;
  transform: rotation(56deg);
  -webkit-animation-name: confetti-animation-12;
          animation-name: confetti-animation-12;
  -webkit-animation-duration: 1.02034s;
          animation-duration: 1.02034s;
  -webkit-animation-delay: 0.93193s;
          animation-delay: 0.93193s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-12 {
  to {
    top: calc(100% + 64px);
    left: 122%;
    transform: rotation(462deg); } }

@keyframes confetti-animation-12 {
  to {
    top: calc(100% + 64px);
    left: 122%;
    transform: rotation(462deg); } }

.confetti-13 {
  position: absolute;
  top: -64px;
  left: 35%;
  background-color: #f1c40f;
  width: 3.5px;
  height: 7px;
  transform: rotation(590deg);
  -webkit-animation-name: confetti-animation-13;
          animation-name: confetti-animation-13;
  -webkit-animation-duration: 1.9214s;
          animation-duration: 1.9214s;
  -webkit-animation-delay: 1.40436s;
          animation-delay: 1.40436s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-13 {
  to {
    top: calc(100% + 64px);
    left: 86%;
    transform: rotation(266deg); } }

@keyframes confetti-animation-13 {
  to {
    top: calc(100% + 64px);
    left: 86%;
    transform: rotation(266deg); } }

.confetti-14 {
  position: absolute;
  top: -64px;
  left: 84%;
  background-color: #9b59b6;
  width: 3.5px;
  height: 7px;
  transform: rotation(18deg);
  -webkit-animation-name: confetti-animation-14;
          animation-name: confetti-animation-14;
  -webkit-animation-duration: 1.42284s;
          animation-duration: 1.42284s;
  -webkit-animation-delay: 0.60918s;
          animation-delay: 0.60918s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-14 {
  to {
    top: calc(100% + 64px);
    left: 76%;
    transform: rotation(6deg); } }

@keyframes confetti-animation-14 {
  to {
    top: calc(100% + 64px);
    left: 76%;
    transform: rotation(6deg); } }

.confetti-15 {
  position: absolute;
  top: -64px;
  left: 111%;
  background-color: #3498db;
  width: 3.5px;
  height: 7px;
  transform: rotation(4deg);
  -webkit-animation-name: confetti-animation-15;
          animation-name: confetti-animation-15;
  -webkit-animation-duration: 2.62629s;
          animation-duration: 2.62629s;
  -webkit-animation-delay: 1.17379s;
          animation-delay: 1.17379s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-15 {
  to {
    top: calc(100% + 64px);
    left: 50%;
    transform: rotation(409deg); } }

@keyframes confetti-animation-15 {
  to {
    top: calc(100% + 64px);
    left: 50%;
    transform: rotation(409deg); } }

.confetti-16 {
  position: absolute;
  top: -64px;
  left: -19%;
  background-color: #e74c3c;
  width: 5px;
  height: 10px;
  transform: rotation(170deg);
  -webkit-animation-name: confetti-animation-16;
          animation-name: confetti-animation-16;
  -webkit-animation-duration: 1.42017s;
          animation-duration: 1.42017s;
  -webkit-animation-delay: 0.34556s;
          animation-delay: 0.34556s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-16 {
  to {
    top: calc(100% + 64px);
    left: 82%;
    transform: rotation(397deg); } }

@keyframes confetti-animation-16 {
  to {
    top: calc(100% + 64px);
    left: 82%;
    transform: rotation(397deg); } }

.confetti-17 {
  position: absolute;
  top: -64px;
  left: 40%;
  background-color: #e74c3c;
  width: 3.5px;
  height: 7px;
  transform: rotation(165deg);
  -webkit-animation-name: confetti-animation-17;
          animation-name: confetti-animation-17;
  -webkit-animation-duration: 1.42309s;
          animation-duration: 1.42309s;
  -webkit-animation-delay: 0.70112s;
          animation-delay: 0.70112s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-17 {
  to {
    top: calc(100% + 64px);
    left: 2%;
    transform: rotation(684deg); } }

@keyframes confetti-animation-17 {
  to {
    top: calc(100% + 64px);
    left: 2%;
    transform: rotation(684deg); } }

.confetti-18 {
  position: absolute;
  top: -64px;
  left: 23%;
  background-color: #f1c40f;
  width: 5px;
  height: 10px;
  transform: rotation(271deg);
  -webkit-animation-name: confetti-animation-18;
          animation-name: confetti-animation-18;
  -webkit-animation-duration: 2.00581s;
          animation-duration: 2.00581s;
  -webkit-animation-delay: 1.11283s;
          animation-delay: 1.11283s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-18 {
  to {
    top: calc(100% + 64px);
    left: 85%;
    transform: rotation(32deg); } }

@keyframes confetti-animation-18 {
  to {
    top: calc(100% + 64px);
    left: 85%;
    transform: rotation(32deg); } }

.confetti-19 {
  position: absolute;
  top: -64px;
  left: 46%;
  background-color: #e74c3c;
  width: 4.5px;
  height: 9px;
  transform: rotation(535deg);
  -webkit-animation-name: confetti-animation-19;
          animation-name: confetti-animation-19;
  -webkit-animation-duration: 2.3803s;
          animation-duration: 2.3803s;
  -webkit-animation-delay: 1.39759s;
          animation-delay: 1.39759s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-19 {
  to {
    top: calc(100% + 64px);
    left: 45%;
    transform: rotation(287deg); } }

@keyframes confetti-animation-19 {
  to {
    top: calc(100% + 64px);
    left: 45%;
    transform: rotation(287deg); } }

.confetti-20 {
  position: absolute;
  top: -64px;
  left: 8%;
  background-color: #f1c40f;
  width: 4px;
  height: 8px;
  transform: rotation(562deg);
  -webkit-animation-name: confetti-animation-20;
          animation-name: confetti-animation-20;
  -webkit-animation-duration: 2.47079s;
          animation-duration: 2.47079s;
  -webkit-animation-delay: 0.47096s;
          animation-delay: 0.47096s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-20 {
  to {
    top: calc(100% + 64px);
    left: 4%;
    transform: rotation(150deg); } }

@keyframes confetti-animation-20 {
  to {
    top: calc(100% + 64px);
    left: 4%;
    transform: rotation(150deg); } }

.confetti-21 {
  position: absolute;
  top: -64px;
  left: 107%;
  background-color: #f1c40f;
  width: 4px;
  height: 8px;
  transform: rotation(297deg);
  -webkit-animation-name: confetti-animation-21;
          animation-name: confetti-animation-21;
  -webkit-animation-duration: 2.07583s;
          animation-duration: 2.07583s;
  -webkit-animation-delay: 0.03282s;
          animation-delay: 0.03282s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-21 {
  to {
    top: calc(100% + 64px);
    left: -12%;
    transform: rotation(431deg); } }

@keyframes confetti-animation-21 {
  to {
    top: calc(100% + 64px);
    left: -12%;
    transform: rotation(431deg); } }

.confetti-22 {
  position: absolute;
  top: -64px;
  left: 26%;
  background-color: #9b59b6;
  width: 3.5px;
  height: 7px;
  transform: rotation(122deg);
  -webkit-animation-name: confetti-animation-22;
          animation-name: confetti-animation-22;
  -webkit-animation-duration: 2.03651s;
          animation-duration: 2.03651s;
  -webkit-animation-delay: 1.40793s;
          animation-delay: 1.40793s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-22 {
  to {
    top: calc(100% + 64px);
    left: 13%;
    transform: rotation(486deg); } }

@keyframes confetti-animation-22 {
  to {
    top: calc(100% + 64px);
    left: 13%;
    transform: rotation(486deg); } }

.confetti-23 {
  position: absolute;
  top: -64px;
  left: 78%;
  background-color: #9b59b6;
  width: 3px;
  height: 6px;
  transform: rotation(55deg);
  -webkit-animation-name: confetti-animation-23;
          animation-name: confetti-animation-23;
  -webkit-animation-duration: 1.75324s;
          animation-duration: 1.75324s;
  -webkit-animation-delay: 1.02124s;
          animation-delay: 1.02124s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-23 {
  to {
    top: calc(100% + 64px);
    left: -22%;
    transform: rotation(300deg); } }

@keyframes confetti-animation-23 {
  to {
    top: calc(100% + 64px);
    left: -22%;
    transform: rotation(300deg); } }

.confetti-24 {
  position: absolute;
  top: -64px;
  left: 82%;
  background-color: #f1c40f;
  width: 4.5px;
  height: 9px;
  transform: rotation(331deg);
  -webkit-animation-name: confetti-animation-24;
          animation-name: confetti-animation-24;
  -webkit-animation-duration: 1.88446s;
          animation-duration: 1.88446s;
  -webkit-animation-delay: 0.84836s;
          animation-delay: 0.84836s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-24 {
  to {
    top: calc(100% + 64px);
    left: 91%;
    transform: rotation(680deg); } }

@keyframes confetti-animation-24 {
  to {
    top: calc(100% + 64px);
    left: 91%;
    transform: rotation(680deg); } }

.confetti-25 {
  position: absolute;
  top: -64px;
  left: 62%;
  background-color: #3498db;
  width: 5px;
  height: 10px;
  transform: rotation(554deg);
  -webkit-animation-name: confetti-animation-25;
          animation-name: confetti-animation-25;
  -webkit-animation-duration: 1.13615s;
          animation-duration: 1.13615s;
  -webkit-animation-delay: 0.2108s;
          animation-delay: 0.2108s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-25 {
  to {
    top: calc(100% + 64px);
    left: 72%;
    transform: rotation(345deg); } }

@keyframes confetti-animation-25 {
  to {
    top: calc(100% + 64px);
    left: 72%;
    transform: rotation(345deg); } }

.confetti-26 {
  position: absolute;
  top: -64px;
  left: 33%;
  background-color: #f1c40f;
  width: 5px;
  height: 10px;
  transform: rotation(414deg);
  -webkit-animation-name: confetti-animation-26;
          animation-name: confetti-animation-26;
  -webkit-animation-duration: 1.62372s;
          animation-duration: 1.62372s;
  -webkit-animation-delay: 0.5632s;
          animation-delay: 0.5632s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-26 {
  to {
    top: calc(100% + 64px);
    left: 27%;
    transform: rotation(620deg); } }

@keyframes confetti-animation-26 {
  to {
    top: calc(100% + 64px);
    left: 27%;
    transform: rotation(620deg); } }

.confetti-27 {
  position: absolute;
  top: -64px;
  left: -16%;
  background-color: #e74c3c;
  width: 4.5px;
  height: 9px;
  transform: rotation(27deg);
  -webkit-animation-name: confetti-animation-27;
          animation-name: confetti-animation-27;
  -webkit-animation-duration: 1.42028s;
          animation-duration: 1.42028s;
  -webkit-animation-delay: 0.02543s;
          animation-delay: 0.02543s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-27 {
  to {
    top: calc(100% + 64px);
    left: 27%;
    transform: rotation(325deg); } }

@keyframes confetti-animation-27 {
  to {
    top: calc(100% + 64px);
    left: 27%;
    transform: rotation(325deg); } }

.confetti-28 {
  position: absolute;
  top: -64px;
  left: 19%;
  background-color: #3498db;
  width: 3px;
  height: 6px;
  transform: rotation(514deg);
  -webkit-animation-name: confetti-animation-28;
          animation-name: confetti-animation-28;
  -webkit-animation-duration: 2.97492s;
          animation-duration: 2.97492s;
  -webkit-animation-delay: 0.16018s;
          animation-delay: 0.16018s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-28 {
  to {
    top: calc(100% + 64px);
    left: 107%;
    transform: rotation(541deg); } }

@keyframes confetti-animation-28 {
  to {
    top: calc(100% + 64px);
    left: 107%;
    transform: rotation(541deg); } }

.confetti-29 {
  position: absolute;
  top: -64px;
  left: 49%;
  background-color: #e74c3c;
  width: 3px;
  height: 6px;
  transform: rotation(488deg);
  -webkit-animation-name: confetti-animation-29;
          animation-name: confetti-animation-29;
  -webkit-animation-duration: 2.5033s;
          animation-duration: 2.5033s;
  -webkit-animation-delay: 0.93067s;
          animation-delay: 0.93067s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-29 {
  to {
    top: calc(100% + 64px);
    left: 124%;
    transform: rotation(590deg); } }

@keyframes confetti-animation-29 {
  to {
    top: calc(100% + 64px);
    left: 124%;
    transform: rotation(590deg); } }

.confetti-30 {
  position: absolute;
  top: -64px;
  left: 124%;
  background-color: #f1c40f;
  width: 3.5px;
  height: 7px;
  transform: rotation(280deg);
  -webkit-animation-name: confetti-animation-30;
          animation-name: confetti-animation-30;
  -webkit-animation-duration: 2.55196s;
          animation-duration: 2.55196s;
  -webkit-animation-delay: 0.25494s;
          animation-delay: 0.25494s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-30 {
  to {
    top: calc(100% + 64px);
    left: 102%;
    transform: rotation(436deg); } }

@keyframes confetti-animation-30 {
  to {
    top: calc(100% + 64px);
    left: 102%;
    transform: rotation(436deg); } }

.confetti-31 {
  position: absolute;
  top: -64px;
  left: -2%;
  background-color: #9b59b6;
  width: 3.5px;
  height: 7px;
  transform: rotation(701deg);
  -webkit-animation-name: confetti-animation-31;
          animation-name: confetti-animation-31;
  -webkit-animation-duration: 2.31925s;
          animation-duration: 2.31925s;
  -webkit-animation-delay: 0.79301s;
          animation-delay: 0.79301s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-31 {
  to {
    top: calc(100% + 64px);
    left: -15%;
    transform: rotation(714deg); } }

@keyframes confetti-animation-31 {
  to {
    top: calc(100% + 64px);
    left: -15%;
    transform: rotation(714deg); } }

.confetti-32 {
  position: absolute;
  top: -64px;
  left: 6%;
  background-color: #e74c3c;
  width: 5px;
  height: 10px;
  transform: rotation(200deg);
  -webkit-animation-name: confetti-animation-32;
          animation-name: confetti-animation-32;
  -webkit-animation-duration: 2.89462s;
          animation-duration: 2.89462s;
  -webkit-animation-delay: 0.68863s;
          animation-delay: 0.68863s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-32 {
  to {
    top: calc(100% + 64px);
    left: 88%;
    transform: rotation(558deg); } }

@keyframes confetti-animation-32 {
  to {
    top: calc(100% + 64px);
    left: 88%;
    transform: rotation(558deg); } }

.confetti-33 {
  position: absolute;
  top: -64px;
  left: 74%;
  background-color: #9b59b6;
  width: 4.5px;
  height: 9px;
  transform: rotation(659deg);
  -webkit-animation-name: confetti-animation-33;
          animation-name: confetti-animation-33;
  -webkit-animation-duration: 2.81276s;
          animation-duration: 2.81276s;
  -webkit-animation-delay: 0.49657s;
          animation-delay: 0.49657s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-33 {
  to {
    top: calc(100% + 64px);
    left: 51%;
    transform: rotation(288deg); } }

@keyframes confetti-animation-33 {
  to {
    top: calc(100% + 64px);
    left: 51%;
    transform: rotation(288deg); } }

.confetti-34 {
  position: absolute;
  top: -64px;
  left: 34%;
  background-color: #f1c40f;
  width: 5px;
  height: 10px;
  transform: rotation(235deg);
  -webkit-animation-name: confetti-animation-34;
          animation-name: confetti-animation-34;
  -webkit-animation-duration: 2.55251s;
          animation-duration: 2.55251s;
  -webkit-animation-delay: 0.34246s;
          animation-delay: 0.34246s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-34 {
  to {
    top: calc(100% + 64px);
    left: 92%;
    transform: rotation(462deg); } }

@keyframes confetti-animation-34 {
  to {
    top: calc(100% + 64px);
    left: 92%;
    transform: rotation(462deg); } }

.confetti-35 {
  position: absolute;
  top: -64px;
  left: 121%;
  background-color: #3498db;
  width: 3px;
  height: 6px;
  transform: rotation(364deg);
  -webkit-animation-name: confetti-animation-35;
          animation-name: confetti-animation-35;
  -webkit-animation-duration: 2.0474s;
          animation-duration: 2.0474s;
  -webkit-animation-delay: 0.63306s;
          animation-delay: 0.63306s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-35 {
  to {
    top: calc(100% + 64px);
    left: 2%;
    transform: rotation(641deg); } }

@keyframes confetti-animation-35 {
  to {
    top: calc(100% + 64px);
    left: 2%;
    transform: rotation(641deg); } }

.confetti-36 {
  position: absolute;
  top: -64px;
  left: 2%;
  background-color: #3498db;
  width: 5px;
  height: 10px;
  transform: rotation(57deg);
  -webkit-animation-name: confetti-animation-36;
          animation-name: confetti-animation-36;
  -webkit-animation-duration: 1.86868s;
          animation-duration: 1.86868s;
  -webkit-animation-delay: 0.40391s;
          animation-delay: 0.40391s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-36 {
  to {
    top: calc(100% + 64px);
    left: 109%;
    transform: rotation(134deg); } }

@keyframes confetti-animation-36 {
  to {
    top: calc(100% + 64px);
    left: 109%;
    transform: rotation(134deg); } }

.confetti-37 {
  position: absolute;
  top: -64px;
  left: -23%;
  background-color: #e74c3c;
  width: 5px;
  height: 10px;
  transform: rotation(38deg);
  -webkit-animation-name: confetti-animation-37;
          animation-name: confetti-animation-37;
  -webkit-animation-duration: 2.48069s;
          animation-duration: 2.48069s;
  -webkit-animation-delay: 1.36491s;
          animation-delay: 1.36491s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-37 {
  to {
    top: calc(100% + 64px);
    left: 96%;
    transform: rotation(306deg); } }

@keyframes confetti-animation-37 {
  to {
    top: calc(100% + 64px);
    left: 96%;
    transform: rotation(306deg); } }

.confetti-38 {
  position: absolute;
  top: -64px;
  left: -4%;
  background-color: #3498db;
  width: 5px;
  height: 10px;
  transform: rotation(103deg);
  -webkit-animation-name: confetti-animation-38;
          animation-name: confetti-animation-38;
  -webkit-animation-duration: 1.99282s;
          animation-duration: 1.99282s;
  -webkit-animation-delay: 0.29157s;
          animation-delay: 0.29157s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-38 {
  to {
    top: calc(100% + 64px);
    left: 5%;
    transform: rotation(195deg); } }

@keyframes confetti-animation-38 {
  to {
    top: calc(100% + 64px);
    left: 5%;
    transform: rotation(195deg); } }

.confetti-39 {
  position: absolute;
  top: -64px;
  left: -4%;
  background-color: #e74c3c;
  width: 4.5px;
  height: 9px;
  transform: rotation(210deg);
  -webkit-animation-name: confetti-animation-39;
          animation-name: confetti-animation-39;
  -webkit-animation-duration: 2.7408s;
          animation-duration: 2.7408s;
  -webkit-animation-delay: 0.78078s;
          animation-delay: 0.78078s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-39 {
  to {
    top: calc(100% + 64px);
    left: 67%;
    transform: rotation(245deg); } }

@keyframes confetti-animation-39 {
  to {
    top: calc(100% + 64px);
    left: 67%;
    transform: rotation(245deg); } }

.confetti-40 {
  position: absolute;
  top: -64px;
  left: 111%;
  background-color: #9b59b6;
  width: 3.5px;
  height: 7px;
  transform: rotation(50deg);
  -webkit-animation-name: confetti-animation-40;
          animation-name: confetti-animation-40;
  -webkit-animation-duration: 1.11889s;
          animation-duration: 1.11889s;
  -webkit-animation-delay: 1.31666s;
          animation-delay: 1.31666s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-40 {
  to {
    top: calc(100% + 64px);
    left: 95%;
    transform: rotation(651deg); } }

@keyframes confetti-animation-40 {
  to {
    top: calc(100% + 64px);
    left: 95%;
    transform: rotation(651deg); } }

.confetti-41 {
  position: absolute;
  top: -64px;
  left: 40%;
  background-color: #f1c40f;
  width: 4.5px;
  height: 9px;
  transform: rotation(482deg);
  -webkit-animation-name: confetti-animation-41;
          animation-name: confetti-animation-41;
  -webkit-animation-duration: 1.88298s;
          animation-duration: 1.88298s;
  -webkit-animation-delay: 0.81211s;
          animation-delay: 0.81211s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-41 {
  to {
    top: calc(100% + 64px);
    left: 96%;
    transform: rotation(544deg); } }

@keyframes confetti-animation-41 {
  to {
    top: calc(100% + 64px);
    left: 96%;
    transform: rotation(544deg); } }

.confetti-42 {
  position: absolute;
  top: -64px;
  left: 115%;
  background-color: #f1c40f;
  width: 3.5px;
  height: 7px;
  transform: rotation(141deg);
  -webkit-animation-name: confetti-animation-42;
          animation-name: confetti-animation-42;
  -webkit-animation-duration: 2.0917s;
          animation-duration: 2.0917s;
  -webkit-animation-delay: 1.16434s;
          animation-delay: 1.16434s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-42 {
  to {
    top: calc(100% + 64px);
    left: 26%;
    transform: rotation(358deg); } }

@keyframes confetti-animation-42 {
  to {
    top: calc(100% + 64px);
    left: 26%;
    transform: rotation(358deg); } }

.confetti-43 {
  position: absolute;
  top: -64px;
  left: 64%;
  background-color: #3498db;
  width: 4.5px;
  height: 9px;
  transform: rotation(105deg);
  -webkit-animation-name: confetti-animation-43;
          animation-name: confetti-animation-43;
  -webkit-animation-duration: 2.67127s;
          animation-duration: 2.67127s;
  -webkit-animation-delay: 1.40639s;
          animation-delay: 1.40639s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-43 {
  to {
    top: calc(100% + 64px);
    left: 16%;
    transform: rotation(242deg); } }

@keyframes confetti-animation-43 {
  to {
    top: calc(100% + 64px);
    left: 16%;
    transform: rotation(242deg); } }

.confetti-44 {
  position: absolute;
  top: -64px;
  left: -10%;
  background-color: #e74c3c;
  width: 4.5px;
  height: 9px;
  transform: rotation(16deg);
  -webkit-animation-name: confetti-animation-44;
          animation-name: confetti-animation-44;
  -webkit-animation-duration: 2.82507s;
          animation-duration: 2.82507s;
  -webkit-animation-delay: 1.14853s;
          animation-delay: 1.14853s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-44 {
  to {
    top: calc(100% + 64px);
    left: 70%;
    transform: rotation(240deg); } }

@keyframes confetti-animation-44 {
  to {
    top: calc(100% + 64px);
    left: 70%;
    transform: rotation(240deg); } }

.confetti-45 {
  position: absolute;
  top: -64px;
  left: 47%;
  background-color: #f1c40f;
  width: 5px;
  height: 10px;
  transform: rotation(192deg);
  -webkit-animation-name: confetti-animation-45;
          animation-name: confetti-animation-45;
  -webkit-animation-duration: 2.37342s;
          animation-duration: 2.37342s;
  -webkit-animation-delay: 1.23194s;
          animation-delay: 1.23194s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-45 {
  to {
    top: calc(100% + 64px);
    left: 83%;
    transform: rotation(255deg); } }

@keyframes confetti-animation-45 {
  to {
    top: calc(100% + 64px);
    left: 83%;
    transform: rotation(255deg); } }

.confetti-46 {
  position: absolute;
  top: -64px;
  left: 23%;
  background-color: #9b59b6;
  width: 5px;
  height: 10px;
  transform: rotation(102deg);
  -webkit-animation-name: confetti-animation-46;
          animation-name: confetti-animation-46;
  -webkit-animation-duration: 2.95845s;
          animation-duration: 2.95845s;
  -webkit-animation-delay: 0.55153s;
          animation-delay: 0.55153s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-46 {
  to {
    top: calc(100% + 64px);
    left: 16%;
    transform: rotation(695deg); } }

@keyframes confetti-animation-46 {
  to {
    top: calc(100% + 64px);
    left: 16%;
    transform: rotation(695deg); } }

.confetti-47 {
  position: absolute;
  top: -64px;
  left: 78%;
  background-color: #e74c3c;
  width: 4.5px;
  height: 9px;
  transform: rotation(504deg);
  -webkit-animation-name: confetti-animation-47;
          animation-name: confetti-animation-47;
  -webkit-animation-duration: 2.87161s;
          animation-duration: 2.87161s;
  -webkit-animation-delay: 1.42756s;
          animation-delay: 1.42756s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-47 {
  to {
    top: calc(100% + 64px);
    left: 71%;
    transform: rotation(129deg); } }

@keyframes confetti-animation-47 {
  to {
    top: calc(100% + 64px);
    left: 71%;
    transform: rotation(129deg); } }

.confetti-48 {
  position: absolute;
  top: -64px;
  left: 16%;
  background-color: #f1c40f;
  width: 5px;
  height: 10px;
  transform: rotation(633deg);
  -webkit-animation-name: confetti-animation-48;
          animation-name: confetti-animation-48;
  -webkit-animation-duration: 2.25588s;
          animation-duration: 2.25588s;
  -webkit-animation-delay: 1.14874s;
          animation-delay: 1.14874s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-48 {
  to {
    top: calc(100% + 64px);
    left: 72%;
    transform: rotation(520deg); } }

@keyframes confetti-animation-48 {
  to {
    top: calc(100% + 64px);
    left: 72%;
    transform: rotation(520deg); } }

.confetti-49 {
  position: absolute;
  top: -64px;
  left: 57%;
  background-color: #f1c40f;
  width: 3px;
  height: 6px;
  transform: rotation(617deg);
  -webkit-animation-name: confetti-animation-49;
          animation-name: confetti-animation-49;
  -webkit-animation-duration: 1.22078s;
          animation-duration: 1.22078s;
  -webkit-animation-delay: 0.45587s;
          animation-delay: 0.45587s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-49 {
  to {
    top: calc(100% + 64px);
    left: 123%;
    transform: rotation(151deg); } }

@keyframes confetti-animation-49 {
  to {
    top: calc(100% + 64px);
    left: 123%;
    transform: rotation(151deg); } }

.confetti-50 {
  position: absolute;
  top: -64px;
  left: 59%;
  background-color: #e74c3c;
  width: 4.5px;
  height: 9px;
  transform: rotation(235deg);
  -webkit-animation-name: confetti-animation-50;
          animation-name: confetti-animation-50;
  -webkit-animation-duration: 1.41468s;
          animation-duration: 1.41468s;
  -webkit-animation-delay: 0.04301s;
          animation-delay: 0.04301s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes confetti-animation-50 {
  to {
    top: calc(100% + 64px);
    left: -20%;
    transform: rotation(549deg); } }

@keyframes confetti-animation-50 {
  to {
    top: calc(100% + 64px);
    left: -20%;
    transform: rotation(549deg); } }

.container, .announcement, h1.section-title, div.section-title, .work-experience-container, .work-experience-container .work-experience-item {
  width: 1200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-sizing: border-box;
  padding: 32px;
  margin-bottom: 32px; }

footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #2c3e50; }
  footer .container, footer .announcement, footer h1.section-title, footer div.section-title, footer .work-experience-container, footer .work-experience-container .work-experience-item, .work-experience-container footer .work-experience-item {
    margin-bottom: 0; }
  footer .lateral-view {
    padding: 0;
    margin: 0; }
  footer h3 {
    margin-bottom: 0; }
  footer ul {
    margin-top: 0.5em; }
  footer li {
    margin-top: 0; }

header.header-dance {
  background-color: white;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); }
  @media screen and (max-width: 780px) {
    header.header-dance {
      position: relative;
      overflow-x: hidden; } }
  header.header-dance .container, header.header-dance .announcement, header.header-dance h1.section-title, header.header-dance div.section-title, header.header-dance .work-experience-container, header.header-dance .work-experience-container .work-experience-item, .work-experience-container header.header-dance .work-experience-item {
    margin-top: 0;
    padding-top: 0;
    background-color: transparent; }
  header.header-dance img {
    margin-bottom: -35px; }
    @media screen and (max-width: 780px) {
      header.header-dance img {
        margin-bottom: 0;
        height: 150px; } }
  header.header-dance .lateral-primary {
    padding-bottom: 32px; }
    header.header-dance .lateral-primary p {
      max-width: 600px; }
  header.header-dance .lateral-secondary {
    align-items: flex-end;
    position: relative; }
    @media screen and (max-width: 780px) {
      header.header-dance .lateral-secondary {
        align-self: stretch; } }
  header.header-dance.dance-started {
    -webkit-animation-name: party-colors;
            animation-name: party-colors;
    -webkit-animation-duration: 10000ms;
            animation-duration: 10000ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; }
    header.header-dance.dance-started .content {
      -webkit-animation-name: wavy-text;
              animation-name: wavy-text;
      -webkit-animation-duration: 2000ms;
              animation-duration: 2000ms;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
              animation-direction: alternate; }
    header.header-dance.dance-started img {
      -webkit-animation-name: andrey-dance;
              animation-name: andrey-dance;
      -webkit-animation-duration: 2000ms;
              animation-duration: 2000ms;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear; }
    header.header-dance.dance-started .splash-content {
      background-color: transparent; }
  header.header-dance.dance-not-started {
    -webkit-animation-name: header-slide-in;
            animation-name: header-slide-in;
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1; }
    header.header-dance.dance-not-started img {
      -webkit-animation-name: icon-slide-in;
              animation-name: icon-slide-in;
      -webkit-animation-duration: 1000ms;
              animation-duration: 1000ms;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; }
  header.header-dance.dance-loading img {
    margin-left: -100vw;
    -webkit-animation-play-state: paused;
            animation-play-state: paused; }

.header-clipped {
  background-color: white;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); }
  .header-clipped .lateral-view {
    margin-top: 0;
    padding-top: 0; }

@media screen and (max-width: 780px) {
  @-webkit-keyframes header-slide-in {
    0% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
              clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%); }
    75% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    100% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 90%);
              clip-path: polygon(0 0, 100% 0, 100% 95%, 0 90%); } }
  @keyframes header-slide-in {
    0% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
              clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%); }
    75% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    100% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 90%);
              clip-path: polygon(0 0, 100% 0, 100% 95%, 0 90%); } } }

@media screen and (min-width: 781px) {
  @-webkit-keyframes header-slide-in {
    0% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
              clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%); }
    75% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    100% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); } }
  @keyframes header-slide-in {
    0% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
              clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%); }
    75% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    100% {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); } } }

@media screen and (max-width: 780px) {
  @-webkit-keyframes icon-slide-in {
    0% {
      transform: translateX(-150%) rotate(-45deg); }
    90% {
      transform: translateX(10%) rotate(15deg); }
    100% {
      transform: translateX(0%); } }
  @keyframes icon-slide-in {
    0% {
      transform: translateX(-150%) rotate(-45deg); }
    90% {
      transform: translateX(10%) rotate(15deg); }
    100% {
      transform: translateX(0%); } } }

@media screen and (min-width: 781px) {
  @-webkit-keyframes icon-slide-in {
    0% {
      transform: translateY(100%); }
    50% {
      transform: translateY(80%); }
    100% {
      transform: translateY(0%); } }
  @keyframes icon-slide-in {
    0% {
      transform: translateY(100%); }
    50% {
      transform: translateY(80%); }
    100% {
      transform: translateY(0%); } } }

.container > .lateral-view, .announcement > .lateral-view, h1.section-title > .lateral-view, div.section-title > .lateral-view, .work-experience-container > .lateral-view, .work-experience-container .work-experience-item > .lateral-view {
  padding: 0; }
  .container > .lateral-view:first-of-type, .announcement > .lateral-view:first-of-type, h1.section-title > .lateral-view:first-of-type, div.section-title > .lateral-view:first-of-type, .work-experience-container > .lateral-view:first-of-type, .work-experience-container .work-experience-item > .lateral-view:first-of-type {
    margin-top: 0; }
  .container > .lateral-view:last-of-type, .announcement > .lateral-view:last-of-type, h1.section-title > .lateral-view:last-of-type, div.section-title > .lateral-view:last-of-type, .work-experience-container > .lateral-view:last-of-type, .work-experience-container .work-experience-item > .lateral-view:last-of-type {
    margin-bottom: 0; }

.lateral-view {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 32px; }
  .lateral-view .lateral-secondary {
    display: flex;
    justify-content: center;
    align-items: center; }
    .lateral-view .lateral-secondary img {
      max-width: 350px; }
  .lateral-view.alt {
    flex-direction: row-reverse; }
    .lateral-view.alt .lateral-primary {
      padding-right: 32px; }
  .lateral-view:not(.alt) .lateral-primary {
    padding-left: 32px; }
  .lateral-view .lateral-primary {
    flex: 1; }
  @media screen and (max-width: 780px) {
    .lateral-view, .lateral-view.alt {
      flex-direction: column; }
    .lateral-view.alt .lateral-primary {
      padding-right: 0; }
    .lateral-view:not(.alt) .lateral-primary {
      padding-left: 0; } }

ul.links-collection {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 1.1em;
  list-style-type: none; }
  ul.links-collection a {
    font-size: 0.8em; }
  ul.links-collection li {
    line-height: 1em;
    margin-top: 0; }

nav {
  background-color: white;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none; }
  nav::-webkit-scrollbar {
    display: none; }
  nav .container, nav .announcement, nav h1.section-title, nav div.section-title, nav .work-experience-container, nav .work-experience-container .work-experience-item, .work-experience-container nav .work-experience-item {
    margin-bottom: 0;
    background-color: transparent; }
  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      margin: 0;
      margin-left: 24px;
      padding: 0; }
      nav ul li a {
        color: black;
        text-decoration: none; }
        nav ul li a:hover {
          color: black;
          text-decoration: underline; }

h1.section-title {
  margin-top: 1em;
  background-color: transparent;
  font-size: 3em; }

div.section-title {
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-top: 1em; }
  div.section-title h1 {
    font-size: 3em;
    flex: 1; }
  div.section-title .button, div.section-title ul.links-collection a, ul.links-collection div.section-title a,
  div.section-title button {
    margin-bottom: -16px; }

.work-experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
  padding: 0; }
  @media screen and (max-width: 780px) {
    .work-experience-container {
      flex-direction: column; } }
  .work-experience-container .work-experience-item {
    margin-left: 0;
    margin-right: 0;
    background-color: white;
    flex: 0 0 calc(50% - 16px); }
    .work-experience-container .work-experience-item img {
      max-width: 200px;
      margin-bottom: 32px; }
    .work-experience-container .work-experience-item img,
    .work-experience-container .work-experience-item button {
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .work-experience-container .work-experience-item h2 {
      margin-top: 0;
      margin-bottom: 0; }
    .work-experience-container .work-experience-item h3 {
      margin-top: 0;
      font-size: 1em;
      font-weight: normal; }
    .work-experience-container .work-experience-item ul {
      transition: 250ms max-height; }
    .work-experience-container .work-experience-item.minimized ul {
      max-height: 0;
      overflow: hidden; }
    .work-experience-container .work-experience-item:not(.minimized) ul {
      max-height: 999px; }

.work-page .lateral-view {
  align-items: flex-start; }
  .work-page .lateral-view .lateral-secondary {
    width: 300px; }
    .work-page .lateral-view .lateral-secondary img {
      max-width: 250px;
      margin-bottom: 16px; }

.work-page .button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 48px;
  text-align: center; }
  .work-page .button-container > * {
    flex: 1;
    margin: 0; }
  @media screen and (max-width: 780px) {
    .work-page .button-container {
      flex-direction: column; } }

.work-page li {
  margin-top: 0.25em; }

.work-page h2 {
  margin-top: 0;
  margin-bottom: 0; }

.work-page h3 {
  margin-top: 0;
  font-size: 1em;
  font-weight: normal; }
