---
title: Work Experience
permalink: work/index.html
---
{% extends 'layouts/base.njk' %}
{% import 'partials/macros.njk' as macros %}

{% block content %}
{% call macros.generateHeader(pageTitle, 'header-clipped', 'container alt') %}
  <p>
    I have experience in front-end web development and mobile app development. I have also worked in teaching and residential life.
  </p>
  <p>
    Also take a look at <a href="/#projects">my projects</a>!
  </p>
  ----
  <img src="/assets/andreyys-lowres.png" alt="Icon of Andrey" />
{% endcall %}

<div class="container work-page" id="all-experience">
  <div class="button-container">
    <p>Currently viewing all work experience</p>
    <button class="button big primary-ghost">See only featured experience</button>
  </div>
  {%- for work in collections.work  %}
    <article class="lateral-view">
      <header class="lateral-secondary">
        <img data-src="/assets/work/{{ work.data.image }}" class="lazyload" alt="{{ work.data.title }} icon" />
      </header>
      <div class="lateral-primary">
        <h2>{{ work.data.role }}</h2>
        <h3>{{ work.data.company }}, {{ work.data.timeframe }}</h3>
        <section>
          {{ work.templateContent | safe }}
        </section>
      </div>
    </article>
    {%- if loop.last %}
    {%- else %}
      <hr/>
    {%- endif %}
  {%- endfor %}
</div>

<div class="container work-page hidden" id="featured-experience">
  <div class="button-container">
    <p>Currently viewing featured work experience</p>
    <button class="button big primary-ghost">See all experience</button>
  </div>
  {%- for work in collections.featuredWork  %}
    <article class="lateral-view">
      <header class="lateral-secondary">
        <img data-src="/assets/work/{{ work.data.image }}" class="lazyload" alt="{{ work.data.title }} icon" />
      </header>
      <div class="lateral-primary">
        <h2>{{ work.data.role }}</h2>
        <h3>{{ work.data.company }}, {{ work.data.timeframe }}</h3>
        <section>
          {{ work.templateContent | safe }}
        </section>
      </div>
    </article>
    {%- if loop.last %}
    {%- else %}
      <hr/>
    {%- endif %}
  {%- endfor %}
</div>

<script>
  function toggleViews() {
    const hidden = document.querySelector('.work-page.hidden');
    const visible = document.querySelector('.work-page:not(.hidden)');
    hidden.classList.remove('hidden');
    visible.classList.add('hidden');
  }

  window.addEventListener('load', () => {
    const buttons = document.querySelectorAll('.work-page button');
    for(let i = 0; i < buttons.length; i++) {
      buttons[i].addEventListener('click', toggleViews);
    }
  });
</script>
{% endblock content %}