{% macro generateHeader(headerTitle, headerClasses, lateralViewClasses, genericTag) %}
  {%- if not genericTag %}
    <header class="{{ headerClasses }}">
  {%- else %}
    <div class="{{ headerClasses }}">
  {%- endif %}
    <div class="lateral-view {{ lateralViewClasses }}">
      <div class="lateral-secondary">
        {{ caller().split('----')[1] | safe }}
      </div>
      <div class="lateral-primary">
        <h1>
          {{ headerTitle }}
        </h1>
        {{ caller().split('----')[0] | safe }}
      </div>
    </div>
  {%- if not genericTag %}
    </header>
  {%- else %}
    </div>
  {%- endif %}
{% endmacro %}

{% macro generateAnnouncement(classes) %}
  <div class="announcement {{ classes }}">
    {{ caller() }}
  </div>
{% endmacro %}